<div id="nba-best-bets" class="container best-bets">
  <div *ngIf="games_today.length != 0" class="row">
    <div class="col-md-12">
      <div class="card shadow-lg mt-3 mb-5">
        <div class="card-header">
          <h5>Today's Soccer Picks <small>{{ gameDate }}</small></h5>
          <span class="tqe-pick">TQE Picks in Green</span>
          <!-- <span class="tqe-high-pick">TQE Hight Confidence Picks</span> -->
          <span class="right">
            <button class="button" [style.background-color]="league=='EPL' ? '#4CAF50' : 'white'"
                    (click)="onClickEPL()">EPL</button>
            <button class="button" [style.background-color]="league=='LA-LIGA' ? '#4CAF50' : 'white'"
                    (click)="onClickLaLiga()">La Liga</button>
            <button class="button" [style.background-color]="league=='SerieA' ? '#4CAF50' : 'white'"
                    (click)="onClickSerieA()">Serie A</button>
            <button class="button" [style.background-color]="league=='Bundesliga' ? '#4CAF50' : 'white'"
                    (click)="onClickBundesliga()">Bundesliga</button>
            <button class="button" [style.background-color]="league=='Ligue1' ? '#4CAF50' : 'white'"
                    (click)="onClickLigue1()">Ligue1</button>
            <button class="button" [style.background-color]="league=='Super-Lig' ? '#4CAF50' : 'white'"
                    (click)="onClickSuperLig()">Süper Lig</button>
            <button class="button" [style.background-color]="league=='UEFA-Champ' ? '#4CAF50' : 'white'"
                    (click)="onClickUEFAChamp()">UEFA Champion</button>
            <button class="button" [style.background-color]="league=='MLS' ? '#4CAF50' : 'white'"
                    (click)="onClickMLS()">MLS</button>
          </span>
        </div>
        <table *ngIf="!loading" class="bets-table all-bets table table-borderless mb-0 scroll">
          <thead class="thead-dark">
          <tr>
            <th scope="col" rowspan="2">TIME</th>
            <th scope="col" rowspan="2">HOME</th>
            <th scope="col" rowspan="2">AWAY</th>
            <th scope="col" class="text-center" colspan="3">MONEYLINE</th>
          </tr>
          <tr>
            <td class="sub-title">Implied Prob/Home/TQE Prob</td>
            <td class="sub-title">Implied Prob/Draw/TQE Prob</td>
            <td class="sub-title">Implied Prob/Away/TQE Prob</td>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let game of games_today">
            <tr class="team home">
              <td class="border-bottom align-middle" rowspan="2"><span class="badge badge-danger"
                                                                       *ngIf="game.started">Started</span><br *ngIf="game.started"><b>{{ game.local_start_time }}</b></td>
              <!--<td style="max-width:48px" ><img src="../../../../assets/images/logos/nba/{{game.away_team}}.png" style="max-height:32px"></td>-->
              <td class="border-bottom name" rowspan="2">
                <div class="d-block d-sm-none">
                  <!-- Visible only on xs -->
                  <b class="h6">{{game.h_team}}</b>
                </div>
                <div class="d-none d-sm-block">
                  <b class="h6">{{game.h_team}}</b>
                </div>
              </td>
              <td class="border-bottom name" rowspan="2">
                <div class="d-block d-sm-none">
                  <!-- Visible only on xs -->
                  <b class="h6">{{game.a_team}}</b>
                </div>
                <div class="d-none d-sm-block">
                  <!-- Hidden only on xs -->
                  <b class="h6">{{game.a_team}}</b>
                </div>
              </td>

              <!-- [class.tqe-pick]="isAuthorized && game.ml_pick_h && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 < 60.0"
                [class.tqe-high-pick]="isAuthorized && game.ml_pick_h && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 >= 60.0" -->
              <td class="border-bottom align-middle odds money"
                  [class.tqe-pick]="isAuthorized && game.ml_pick_h && game.m_h_prob>game.m_h_improb"
                  rowspan="2">

                <span *ngIf="!isAuthorized">{{ game.m_h_odds }}</span>

                <span *ngIf="isAuthorized && game.ml_pick_h">
                    {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                  </span>

                <span *ngIf="isAuthorized && !game.ml_pick_h">
                    <!--{{ game.m_h_odds }}-->
                  {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                  </span>

              </td>

              <!-- [class.tqe-pick]="isAuthorized && game.ml_pick_d && game.m_t_prob>game.m_t_improb && game.m_t_prob*100 <= 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick_d && game.m_t_prob>game.m_t_improb && game.m_t_prob*100 > 60.0" -->
              <td class="border-bottom align-middle odds money"
                  [class.tqe-pick]="isAuthorized && game.ml_pick_d && game.m_t_prob>game.m_t_improb"
                  rowspan="2">
                <!--<span>{{ game.m_t_odds }}</span>-->

                <span *ngIf="!isAuthorized">{{ game.m_t_odds }}</span>

                <span *ngIf="isAuthorized && game.ml_pick_d">
                    {{ game.m_t_improb*100 | number:'1.1-1'}}% / {{ game.m_t_odds }} / {{game.m_t_prob*100 | number:'1.1-1'}}%
                  </span>

                <span *ngIf="isAuthorized && !game.ml_pick_d">
                    <!--{{ game.m_t_odds }}-->
                  {{ game.m_t_improb*100 | number:'1.1-1'}}% / {{ game.m_t_odds }} / {{game.m_t_prob*100 | number:'1.1-1'}}%
                  </span>


              </td>
              <!-- [class.tqe-pick]="isAuthorized && game.ml_pick_a && game.m_a_prob>game.m_a_improb && game.m_a_prob*100 <= 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick_a && game.m_a_prob>game.m_a_improb && game.m_a_prob*100 > 60.0" -->
              <td class="border-bottom align-middle odds money"
                  [class.tqe-pick]="isAuthorized && game.ml_pick_a && game.m_a_prob>game.m_a_improb"
                  rowspan="2">
                <!-- <span>{{ game.m_a_odds }}</span>-->

                <span *ngIf="!isAuthorized">{{ game.m_a_odds }}</span>

                <span *ngIf="isAuthorized && game.ml_pick_a">
                    {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                  </span>

                <span *ngIf="isAuthorized && !game.ml_pick_a">
                    <!-- {{ game.m_a_odds }}-->
                  {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                  </span>


              </td>
            </tr>
            <tr class="team home">
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div *ngIf="games.length != 0" class="row">
    <div class="col-md-12">
      <div class="card shadow-lg mt-3 mb-5">
        <div class="card-header">
          <h5>Soccer Full Schedule <small>Till {{ finalDate }}</small></h5>
          <span class="tqe-pick">TQE Picks in Green</span>
          <!-- <span class="tqe-high-pick">TQE Hight Confidence Picks</span> -->
          <span class="right">
            <button class="button" [style.background-color]="league=='EPL' ? '#4CAF50' : 'white'"
                    (click)="onClickEPL()">EPL</button>
            <button class="button" [style.background-color]="league=='LA-LIGA' ? '#4CAF50' : 'white'"
                    (click)="onClickLaLiga()">La Liga</button>
            <button class="button" [style.background-color]="league=='SerieA' ? '#4CAF50' : 'white'"
                    (click)="onClickSerieA()">Serie A</button>
            <button class="button" [style.background-color]="league=='Bundesliga' ? '#4CAF50' : 'white'"
                    (click)="onClickBundesliga()">Bundesliga</button>
            <button class="button" [style.background-color]="league=='Ligue1' ? '#4CAF50' : 'white'"
                    (click)="onClickLigue1()">Ligue1</button>
            <button class="button" [style.background-color]="league=='Super-Lig' ? '#4CAF50' : 'white'"
                    (click)="onClickSuperLig()">Süper Lig</button>
            <button class="button" [style.background-color]="league=='UEFA-Champ' ? '#4CAF50' : 'white'"
                    (click)="onClickUEFAChamp()">UEFA Champion</button>
            <button class="button" [style.background-color]="league=='MLS' ? '#4CAF50' : 'white'"
                    (click)="onClickMLS()">MLS</button>
          </span>
        </div>
        <table *ngIf="!loading" class="bets-table all-bets table table-borderless mb-0 scroll">
          <thead class="thead-dark">
          <tr>
            <th scope="col" rowspan="2">TIME</th>
            <th scope="col" rowspan="2">HOME</th>
            <th scope="col" rowspan="2">AWAY</th>
            <th scope="col" class="text-center" colspan="3">MONEYLINE</th>
          </tr>
          <tr>
            <td class="sub-title">Implied Prob/Home/TQE Prob</td>
            <td class="sub-title">Implied Prob/Draw/TQE Prob</td>
            <td class="sub-title">Implied Prob/Away/TQE Prob</td>
          </tr>
          </thead>
          <tbody>
          <ng-container *ngFor="let game of games">
            <tr class="team home">
              <td class="border-bottom align-middle" rowspan="2"><span class="badge badge-danger"
                                                                       *ngIf="game.started">Started</span><br *ngIf="game.started"><b>{{ game.local_start_time }}</b></td>
              <!--<td style="max-width:48px" ><img src="../../../../assets/images/logos/nba/{{game.away_team}}.png" style="max-height:32px"></td>-->
              <td class="border-bottom name" rowspan="2">
                <div class="d-block d-sm-none">
                  <!-- Visible only on xs -->
                  <b class="h6">{{game.h_team}}</b>
                </div>
                <div class="d-none d-sm-block">
                  <b class="h6">{{game.h_team}}</b>
                </div>
              </td>
              <td class="border-bottom name" rowspan="2">
                <div class="d-block d-sm-none">
                  <!-- Visible only on xs -->
                  <b class="h6">{{game.a_team}}</b>
                </div>
                <div class="d-none d-sm-block">
                  <!-- Hidden only on xs -->
                  <b class="h6">{{game.a_team}}</b>
                </div>
              </td>
              <!-- [class.tqe-pick]="isAuthorized && game.ml_pick_h && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 <= 60.0"
                [class.tqe-high-pick]="isAuthorized && game.ml_pick_h && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 > 60.0" -->
              <td class="border-bottom align-middle odds money"
                  [class.tqe-pick]="isAuthorized && game.ml_pick_h && game.m_h_prob>game.m_h_improb"
                  rowspan="2">
                <!--<span>{{ game.m_h_odds }}</span>-->
                <span *ngIf="!isAuthorized">{{ game.m_h_odds }}</span>

                <span *ngIf="isAuthorized && game.ml_pick_h">
                    {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                  </span>

                <span *ngIf="isAuthorized && !game.ml_pick_h">
                    <!--{{ game.m_h_odds }}-->
                  {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                  </span>

              </td>


              <!-- [class.tqe-pick]="isAuthorized && game.ml_pick_d && game.m_t_prob>game.m_t_improb && game.m_t_prob*100 <= 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick_d && game.m_t_prob>game.m_t_improb && game.m_t_prob*100 > 60.0" -->
              <td class="border-bottom align-middle odds money"
                  [class.tqe-pick]="isAuthorized && game.ml_pick_d && game.m_t_prob>game.m_t_improb"
                  rowspan="2">
                <!--<span>{{ game.m_t_odds }}</span>-->

                <span *ngIf="!isAuthorized">{{ game.m_t_odds }}</span>

                <span *ngIf="isAuthorized && game.ml_pick_d">
                    {{ game.m_t_improb*100 | number:'1.1-1'}}% / {{ game.m_t_odds }} / {{game.m_t_prob*100 | number:'1.1-1'}}%
                  </span>

                <span *ngIf="isAuthorized && !game.ml_pick_d">
                    <!--{{ game.m_t_odds }}-->
                  {{ game.m_t_improb*100 | number:'1.1-1'}}% / {{ game.m_t_odds }} / {{game.m_t_prob*100 | number:'1.1-1'}}%
                  </span>

              </td>
              <!-- [class.tqe-pick]="isAuthorized && game.ml_pick_a && game.m_a_prob>game.m_a_improb && game.m_a_prob*100 <= 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick_a && game.m_a_prob>game.m_a_improb && game.m_a_prob*100 > 60.0" -->
              <td class="border-bottom align-middle odds money"
                  [class.tqe-pick]="isAuthorized && game.ml_pick_a && game.m_a_prob>game.m_a_improb"
                  rowspan="2">
                <!-- <span>{{ game.m_a_odds }}</span>-->

                <span *ngIf="!isAuthorized">{{ game.m_a_odds }}</span>

                <span *ngIf="isAuthorized && game.ml_pick_a">
                    {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                  </span>

                <span *ngIf="isAuthorized && !game.ml_pick_a">
                    <!--{{ game.m_a_odds }}-->
                  {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                  </span>

              </td>
            </tr>
            <tr class="team home">
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
