<div class="loggin-screen">
  <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="form-group">
      <label for="uname"><b>Username</b></label>
      <input type="text" class="form-control" placeholder="Enter Username" name="uname" formControlName="username">
    </div>
    <div class="form-group">
      <label for="psw"><b>Password</b></label>
      <input type="password" class="form-control" placeholder="Enter Password" name="psw" formControlName="password">    
    </div>
    <p class="error" *ngIf="(loginForm.get('username').touched && loginForm.get('username').invalid) || (loginForm.get('password').touched && loginForm.get('password').invalid)"> {{ login_error_message }} </p>
    <p class="error"> {{ server_error_message }} </p>
    <div class="actionBtn">
      <button class="actionButton " type="submit" [disabled]="loginForm.invalid || disable_login">Login</button>
      If you're not registered Click <a class="" routerLink="/register">Here</a>
      <br>
      If you forgot your password Click<a class="" routerLink="/forget-password">Here</a>
      
    </div>
    <hr/>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <a type="button" class="btn btn-primary" [href]="authWithWhop()">Sign In with Whop</a>
        </div>
      </div>
    </div>
  </form>
</div>
