<div class="loading" *ngIf="loader">
  <img src="../../../../assets/images/loading.svg" class="img-fluid" alt="loading">
</div>
<strong *ngIf="serverErrors" class="error">{{serverErrors}}</strong>

<div class="user_info" *ngIf="userData.length != 0">
  <div class="container">
    <div class="header mb-5">
      <h2>Your Profile</h2>
    </div>
    <div class="profile mb-5">
      <div class="row">
        <div class="col">
          <div class="profile-header">
            <span>
              <button class="btn btn-success" [routerLink]="['/edit-profile']">Edit Profile</button>
            </span>
          </div>
          <hr />
          <div class="profile-info">
            <div class="labels">
              <span>First Name</span>
              <span>Last Name</span>
              <span>User Name</span>
              <span>Email</span>
            </div>
            <div class="data">
              <span>{{userData.first_name}}</span>
              <span>{{userData.last_name}}</span>
              <span>{{userData.username}}</span>
              <span>{{userData.email}}</span>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="memberships">
      <div class="row">
        <div class="col-12">
          <strong *ngIf="userData.memberships_users.length === 0">
            <hr />
            No Membership associated with your accountat the moment
          </strong>
          <div class="table-membership">
            <table class="table" *ngIf="userData.memberships_users.length > 0">
              <thead>
                <tr>
                  <th>No. </th>
                  <th>Package Name</th>
                  <th>Membership Period</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pack of userData.memberships_users; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{pack.membership_name}}</td>
                  <td>{{pack.message}}</td>
                  <td>
                    <button type="button" class="btn btn-danger"
                      (click)="showModal(pack.id, pack.membership_name)">Cancel
                      Subscription</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <!--  coupon list  -->
    <div class="memberships mb-5">
      <div class="row">
        <div class="col-md-12">
          <strong *ngIf="userData.coupons.length < 1">
            There are no coupons associated with your account at the moment
          </strong>
          <div class="table-membership">
            <table class="table" *ngIf="userData.coupons.length > 0">
              <thead>
                <tr>
                  <th>No.</th>
                  <th>Coupon Type</th>
                  <th>Coupon Code</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let pack of userData.coupons; let i = index">
                  <td>{{i + 1}}</td>
                  <td>{{pack.coupon_type}}</td>
                  <td>{{pack.coupon_code}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- popup of cancellation -->
<div class="theme-modal modal fade" bsModal #tourGuide="bs-modal">
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h6>Are you sure you want to unsubscribe from 
          <strong>{{ selectedMemberShipName }}?</strong>
        </h6>
        Please Select the cancellation reasons:<br />
        <select [(ngModel)]="unsubscribe_reason">
          <option value="">Please select</option>
          <option *ngFor="let item of unsubscribe_reasons" [value]='item'>{{item}}</option>
        </select>
        <br />
        <input style="width:183px;" [(ngModel)]="other"
          *ngIf="unsubscribe_reason === 'I need something different' || unsubscribe_reason === 'I need something more' || unsubscribe_reason === 'Other' "
          type="text" placeholder="Please specify" required>

        <!-- unsubscribe button -->
        <br />
        <br />
        <button class="btn btn-danger mr-3" (click)="unsubscribe(selectedMemberShipId)"
          [disabled]="unsubscribe_reason ==='' || (unsubscribe_reason ==='Other'&& other ==='') || (unsubscribe_reason ==='I need something different'&& other ==='') || (unsubscribe_reason ==='I need something more'&& other ==='')"
          *ngIf="!user_subscriptionLoader">
          Unsubscribe!
        </button>


        <button class="btn btn-primary" *ngIf="!user_subscriptionLoader" (click)="hideModal()">Cancel</button>
      </div>
    </div>
  </div>
</div>