.header {
    text-align: center;
}

.user_info {
    font-size: 16px;
    line-height: 30px;
    font-weight: lighter;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    width: 100vw;
    margin: 5em auto 0 auto;
    min-height: 80vh;
}

.container {
    max-width: 50%;
    text-align: left;
}

hr {
   background-color: white;
}

h2,
h4,
h6 {
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.75em;
    color: #E8CA30;
}

h2 {
    color: #13A211;
}

h6 {
    color: black;
}

.profile-header {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

.profile-info {
    display: flex;
    flex-direction: row;

    div {
        flex: 1;
    }

    .labels,
    .data {
        display: flex;
        flex-direction: column;
    }

    .labels {
        color: #E8CA30;
    }
}

.memberships {
    text-align: center;
    margin: 5em 0;
}

.table {
    border-top: 1px solid rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
    border-collapse: collapse;
    color: white;
}

.table th,
.table td {
    border-top: 1px solid rgb(70, 70, 70);
    border-bottom: 1px solid rgb(70, 70, 70);
    padding: 1em;
}

@media (max-width: 768px) {

    .user_info {
        font-size: 13px;
    }

   .container {
    max-width: 95%;
    overflow: scroll;
   }
}
