.best-bets {
  font-size: 16px;
  font-family: 'Chakra Petch', sans-serif;
}

.best-bets-header {
  display: inline-block;
  padding: 5px;
  background-color: #000000;
  width: 100%;
}

.button {

  padding: 0.5em 1em;
  margin: 0.5em 0 0.5em 1em;
  background: #111416;
  border: 1px solid #999999;
  border-radius: 2px;
  color: white;
  text-align: center;
}

.button:hover,
.button.selected {
  background: #454545;
  border: 1px solid #FFFFFF;
}

.right {
  display: flex;
  justify-content: center;
  margin: 2em 2em 0em;
  padding-bottom: 2em;
  border-bottom: 1px solid #999999;
}
