<div *ngIf="isAuthorized" id="nba-best-bets" class="container-fluid best-bets">
  <div class="row">
    <div class="col-md-12">
      <div class="best-bets-header shadow-lg mt-3 mb-5">
        <div class="header-content">
          <span class="right">
            <button
              *ngFor="let s of sports"
              class="button"
              [class.selected]="sport === s"
              (click)="setSport(s)"
            >
              {{ s }}
            </button>
          </span>
        </div>
        <ng-container [ngSwitch]="sport">
          <tqe-nba-player-impact-export *ngSwitchCase="'NBA'"></tqe-nba-player-impact-export>
          <tqe-nfl-player-impact-export *ngSwitchCase="'NFL'"></tqe-nfl-player-impact-export>
          <tqe-mlb-player-impact-export *ngSwitchCase="'MLB'"></tqe-mlb-player-impact-export>
          <tqe-soccer-player-impact-export *ngSwitchCase="'SOCCER'"></tqe-soccer-player-impact-export>
          <tqe-cf-player-impact-export *ngSwitchCase="'NCAAF'"></tqe-cf-player-impact-export>
        </ng-container>
      </div>
    </div>
  </div>
</div>
