<div class="loading" *ngIf="loading"></div>

<div class="Membership_Plans" [ngStyle]="{
  'background-image': 'url(' + background_img + ')'
}">
  <div class="container-fluid">
    <div class="header">
      <span>
        <h4>Membership Plans | Select Your Winning Plan Today!</h4>
      </span>
      <span class="steps">
        Step <strong>1</strong> of <strong [innerHtml]="loggedIn == true ? '2' : '3'"></strong>
      </span>
    </div>
    <div class="packages">
      <div class="plan free-trial">
        <div class="plan-header">
          <span>
            Free Trial
          </span>
          <span class="right-angled-triangle">&nbsp;</span>
        </div>
        <div class="plan-body">
          <div class="plan-body-header">
            <span>
              <h5>All-Inclusive 7-day Free Trial</h5>
            </span>
          </div>
          <hr />
          <div class="plan-body-data">
            <span class="price">Free</span>
            <span class="plan-info">
              All the tools for all the leagues. Auto-renewed to a monthly pass when the free
              trial expires without cancellation
            </span>
            <span class="subscription-button">
              <button type="button" class="btn selectPackage" (click)="selectedPlan('month','annual_trial')"
                [disabled]="monthlyPasses?.all_sports?.annual_passes.initial_payment === '' || monthlyPasses?.all_sports?.annual_passes.is_subscribed"
                [innerHTML]="monthlyPasses?.all_sports?.annual_passes.initial_payment === '' || monthlyPasses?.all_sports?.annual_passes.is_subscribed ? 'Selected Plan' : 'Select Plan'"></button>
            </span>
          </div>
        </div>
      </div>

      <div class="plan annual">
        <div class="plan-header">
          <span>
            Annual Plan (<span class="flashing-text">Most Popular</span>)
          </span>
          <span class="right-angled-triangle">&nbsp;</span>
        </div>
        <div class="plan-body">
          <div class="plan-body-header">
            <span>
              <h5>All Sports, All Plans for a Year</h5>
            </span>
          </div>
          <hr />
          <div class="plan-body-data">
            <span class="price">
              <p>Paid Annually - $239</p>
              <p>( $19.99 / month )</p>
            </span>
            <span class="plan-info">
              Best Value: Get our betting and fantasy plans for ALL sports for one year and SAVE 60% ( USD 360 )
            </span>
            <span class="subscription-button">
              <button type="button" class="btn selectPackage" (click)="selectedPlan('month','annual_passes')"
                [disabled]="monthlyPasses?.all_sports?.annual_passes.initial_payment === '' || monthlyPasses?.all_sports?.annual_passes.is_subscribed"
                [innerHTML]="monthlyPasses?.all_sports?.annual_passes.initial_payment === '' || monthlyPasses?.all_sports?.annual_passes.is_subscribed ? 'Selected Plan' : 'Select Plan'"></button>
            </span>
          </div>
        </div>
      </div>

      <div class="plan annual">
        <div class="plan-header">
          <span>
            Monthly Pass
          </span>
          <span class="right-angled-triangle">&nbsp;</span>
        </div>
        <div class="plan-body">
          <div class="plan-body-header">
            <span>
              <h5>The Monthly All-Inclusive Plan</h5>
            </span>
          </div>
          <hr />
          <div class="plan-body-data">
            <span class="price">
              <p>Paid Monthly</p>
              <p>( $49.99 / month )</p>
            </span>
            <span class="plan-info">
              All tools for all the leagues.
            </span>
            <span class="subscription-button">
              <button type="button" class="btn selectPackage secondary" (click)="selectedPlan('month','all_inclusive')"
                [disabled]="monthlyPasses?.all_sports?.all_inclusive.initial_payment === '' || monthlyPasses?.all_sports?.all_inclusive.is_subscribed"
                [innerHTML]="monthlyPasses?.all_sports?.all_inclusive.initial_payment === '' || monthlyPasses?.all_sports?.all_inclusive.is_subscribed ? 'Selected Plan' : 'Select Plan'"></button>
            </span>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <br />
    <div class="why-subscribe">
      <div class="container">
        <h4 class="heading_sub">Frequently Asked Questions</h4>
        <div class="FAQs">
          <div class="mb-3">
            <p class="question">Q. Why Should I Subscribe to TQE?</p>
            <p>A. Watch the 60 Sec Overview</p>
            <p class="mb-3 mt-3">
              <iframe src="https://www.youtube.com/embed/Fano265b8Zc" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            </p>
          </div>
          <div class="mb-3">
            <p class="question">Q. Will TQE send me an email before switching me from a free trial to a paid
              subscription?</p>
            <p>A. Yes! The day before your Free Week Trial ends you will be sent an email notifying you of the switch to
              a paid subscription.</p>
          </div>
          <div class="mb-3">
            <p class="question">Q. How Do The Tools Work?</p>
            <p>A. Each tool is unique and designed to be simple to use. See how they work and how you can <a
                [routerLink]="['/']"><strong>start winning today</strong></a>.</p>
          </div>
          <div class="mb-3">
            <p class="question">
              Q. How Have People Done Using Your Products?</p>
            <p>A. Our customers have won big and have been thrilled with the results!</p>
          </div>
        </div>
        <div class="rel-images mb-3">
          <div class="row">
            <div class="col-md-4"><img class="img-fluid mb-3" src="../../../assets/images/TQE_1.jpg"></div>
            <div class="col-md-4"><img class="img-fluid  mb-3" src="../../../assets/images/TQE_2.jpg"></div>
            <div class="col-md-4"><img class="img-fluid  mb-3" src="../../../assets/images/TQE_3.jpg"></div>
          </div>
        </div>
        <div class="FAQs pb-5">
          <div>
            <p class="question">Q. How Has Your Betting Model Performed Historically?</p>
            <p>A. A $25 dollar bettor in NFL made $1207 since the tool launched! Hitting 59.7% of our total bets and 66% of
              our
              NFL Best Bets. We are transparent with all of our results and invite you to <a
                [routerLink]="['/picks-history']"><strong>learn more</strong></a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>