.header {
    padding-top: 5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .steps {
    margin-top: 0.4em;
    color: #E8CA30;   
}

.Membership_Plans {
    background-color: rgba(0, 0, 0, 0.85);
    font-size: 14px;
    line-height: 30px;
    font-weight: lighter;
    font-family: 'Chakra Petch', sans-serif;
    background-size: cover;
    background-position: center;
    position: relative;
    height: auto;
    color: white;
    width: 100vw;
}

.Membership_Plans::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.85);
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-fluid {
    position: relative;
    z-index: 1;
    text-align: center;
    max-width: 55em;
}

h4,
h5 {
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.75em;
}

h4 {
    color: #13A211;
    margin-bottom: 2em;
}

h5 {
    color: #E8CA30;
}


.plan-header {
    text-align: left;
}

.plan-header span {
    background-color: #13A211;
    padding: 0.25em 0.5em;
    font-weight: 700;
    border-top-right-radius: 5%;
}

.right-angled-triangle {
    margin-left: -0.1em;
    background-color: #13A211;
    color: #13A211;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    border-top-left-radius: 5%;
}

.plan-body {
    background-color: #1B1C1D;
    border: 1px solid #454545;
}

hr {
    width: 92%;
    margin: 1% 4%;
    border: none;
    height: 1px;
    background-color: white;
}

.plan {
    margin-bottom: 5em;
}

.plan-body-header {
    padding-top: 1em;
    font-family: 'Smooch Sans', sans-serif;
}

.plan-body-data {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em 0;

    span {
        margin: 1em 0;
    }

    .price {
        flex: 0.5;
    }

    .plan-info {
        flex: 1;
    }

    .subscription-button {
        flex: 0.5;
    }
    
    .selectPackage {
        color: white;
        border: 1px solid gray;
    }
}

@keyframes flash {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.flashing-text {
    animation: flash 0.5s infinite;
    color: #000000;
}

.why-subscribe p {
    text-align: justify;
}

.question {
    color: #E8CA30;
}

@media (max-width: 768px) {

    .header {
        flex-direction: column;
        h4 {
            margin-bottom: 0em;
        }
        .steps {
            margin-top: 0em;
            margin-bottom: 3em
        }
    }

    .plan-body-data {
        flex-direction: column;

        span {
            margin: 0.25em 0;
        }
    }
}