.page-title h1 {
    display: block;
    text-align: center;
}
.pods .row {
    margin-bottom: 30px;
}
.pods .arTilce {margin: 0;}
.title {
    font-size: 14px;
    margin: 0 0 20px;
    display: inline-block;
    color: #000;
    font-weight: 700;
}
.desc p {margin: 0 0 10px;}
.desc {
    font-size: 15px;
    line-height: 1.2;
}
.btn-pod.bTN-.bTN_banner {width: 200px;}
.btn-pod.bTN-.bTN_banner:hover {
    background: linear-gradient(0deg, #73E33F 0%, #18B219 100%);
    color: #fff;
}
.arTilce .loading {
    height: 100%;
}
.arTilce .loading::before {
    background-image: url('../../../../assets/images/loading-sm.svg');
}
@media only screen and (max-width:767px) {
    .podcastlists .pods .desc {
        text-align: center;
        padding: 20px 0;    
    }
    .btn-pod.bTN-.bTN_banner {  margin: 0 auto; }
}