<!-- <div class="intForm">
    <div class="container pb-5 pt-5">
        <div class="row">
            <div class="col">
                <div class="rest-form">
                    <h2>Forgot Password </h2>
                    <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()" class="pb-5 pt-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fname"><b>Your Email</b></label>
                                    <div class="form-control">
                                        <input class="form-control" type="password" placeholder="Enter Your Email"
                                            formControlName="email">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <p class="error" *ngIf="forgot_pass_error"> {{ forgot_pass_error}}
                            <br>
                            If you're not registered Click <a class="" routerLink="/register">Here</a>
                        </p>
                        <button type="submit" class="actionButton" [disabled]="forgotForm.invalid">Send Email
                            Link</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="forgot-password-page" style="text-align: center;">
    <div class="container">
        <h5>Forgot Password</h5>
        <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
            <div class="form-group">
                <label for="fname"><b>Your Email</b></label>
                <input class="form-control" type="email" placeholder="Enter Your Email" formControlName="email">
            </div>
            <p class="error" *ngIf="forgot_pass_error"> {{ forgot_pass_error}}
                <br>
                Uh-oh!! Looks like you are a new user. <a class="" routerLink="/register">Click here to register</a>
            </p>
            <button type="submit" class="btn btn-success" [disabled]="forgotForm.invalid">Send Password Reset Link to Email</button>
        </form>
    </div>

</div>