.forgot-password-page {
    height: 82vh;
    width: 100vw;
    color: white;
    margin-top: 8em;
    text-align: left;
    font-family: 'Chakra Petch', sans-serif;
}

.container {
    max-width: 40em;
}

h5 {
  font-weight: normal;
  line-height: 1.5em;
  margin-bottom: 3em;
  text-align: left;
  color: #13A211;
}

form label {
    color: #E8CA30;
}

input {
    padding: 1.25em;
    border: 2px solid #333;
    background-color: transparent;
    border-radius: 5px;
    color: white;
    margin-bottom: 1.5em;
}

input:focus {
    outline: none;
    box-shadow: none;
    border: 2px solid #727272;
    background-color: transparent;
    color: white;
}

form {
    text-align: left;
}

p {
    margin-bottom: 1em;
}