<div class="page-title">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>Thrive <span> | Review</span></h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <div class="entry-content clearfix">
        <p><a href="https://bit.ly/TheQuantEdge" target="_blank" rel="noopener noreferrer"><img class="img-fluid banner" src="https://api.thequantedge.com/uploads/2019/02/ThriveBanner-1-1024x168.png" alt="" srcset="https://api.thequantedge.com/uploads/2019/02/ThriveBanner-1-1024x168.png 1024w, https://api.thequantedge.com/uploads/2019/02/ThriveBanner-1-300x49.png 300w, https://api.thequantedge.com/uploads/2019/02/ThriveBanner-1-768x126.png 768w, https://api.thequantedge.com/uploads/2019/02/ThriveBanner-1.png 1196w" sizes="(max-width: 1024px) 100vw, 1024px" width="1024" height="168"></a></p>
        <p>With the legalization of sports betting, most daily fantasy players have started to dabble in gambling. In addition to standard spreads and totals, betting on player propositions have become very popular. Thrive brings the best of daily fantasy and gambling with their new game. They offer normal daily fantasy contests but with a prop-betting twist.</p>
        <p><strong>Platform</strong><br>
        Thrive has both a mobile app and online interface that are easy to use and visually appealing.</p>
        <p><a href="https://bit.ly/TheQuantEdge" target="_blank" rel="noopener noreferrer"><img class="img-fluid banner" src="https://api.thequantedge.com/uploads/2019/02/thrive.png" alt="" srcset="https://api.thequantedge.com/uploads/2019/02/thrive.png 679w, https://api.thequantedge.com/uploads/2019/02/thrive-300x137.png 300w" sizes="(max-width: 679px) 100vw, 679px" width="679" height="309"></a></p>
        <p><strong>Contest Selection</strong><br>
        Similar to most daily fantasy platforms, Thrive offers a variety of contests but mostly focuses on guaranteed prize pool (GPP) tournaments, head-to-heads, and 50/50s.<br>
        During the NFL season, their big GPP was guaranteed every week. 2018 was their first year so their “big” contests were between 200-500 entrants with a $15-$500 entry fee. Their contest size fluctuates based on the trend of entrants so as the company grows, contest sizes will surely follow.<br>
        The head-to-head contests range anywhere from $1 to $1000 in entry fees and frequently offer no-rake as an incentive. Head to Heads can’t be manually posted yet but that will likely be a feature soon.<br>
        50/50’s are offered but like all contests on Thrive they shade on the smaller side (10-100 entrants).<br>
        Overall, the contest selection is small but guaranteed prize pools and no rake head-to-heads help make up for any growing pains. They also only have 10% rake or lower on all contests. This is substantially lower than other DFS websites who have 15% rake or higher on contests.</p>
        <p><strong>Contests</strong><br>
        There are two different ways to play on Thrive.<br>
        <strong>Traditional:</strong> The easiest way to play on Thrive is in their “traditional” contests. Twenty player props are listed with points assigned to the over or under. You only select 10 of your favorite over or unders prior to submitting your entry. The points essentially act as “juice” and if an outcome seems more likely, there will be fewer points awarded for that outcome. If you get the prop correct, you score the points assigned to that selection. If you get it wrong, you get no points.</p>
        <p><img  class="img-fluid banner" src="https://api.thequantedge.com/uploads/2019/02/thrive2.png" alt="" srcset="https://api.thequantedge.com/uploads/2019/02/thrive2.png 330w, https://api.thequantedge.com/uploads/2019/02/thrive2-248x300.png 248w" sizes="(max-width: 330px) 100vw, 330px" width="330" height="400"><strong>Versus:</strong> This contest operates similarly to traditional ones, but instead of a single player’s over-under, a spread is given for the same stat between two players.</p>
        <p><img class="img-fluid banner" src="https://api.thequantedge.com/uploads/2019/02/thrive3.png" alt="" srcset="https://api.thequantedge.com/uploads/2019/02/thrive3.png 598w, https://api.thequantedge.com/uploads/2019/02/thrive3-300x110.png 300w" sizes="(max-width: 598px) 100vw, 598px" width="598" height="219">After selecting your 10 props, you have to also pick two I.C.E. (In Case of Emergency) props. These act as tiebreakers.</p>
        <p><strong>Thrive Banking</strong><br>
        Thrive uses either PayPal or E-Check for deposits and withdrawals. This is extremely convenient compared to any offshore sportsbook that suggests bitcoin or methods which take away a significant portion of your winnings. Deposits can happen in a matter of minutes and withdrawals take anywhere from 24-to-72 hours to process.</p>
        <p><strong>Thrive Customer Service</strong><br>
        Thrive doesn’t have a direct “Help” button on their website but are extremely active on Twitter (@ThriveFantasy) and answer questions quickly.</p>
        <p><strong>Eligibility</strong><br>
        You are eligible to play Thrive if you live in Alaska, Arkansas, California, Colorado, Connecticut, Florida, Georgia, Illinois, Kansas, Kentucky, Maine, Maryland, Massachusetts (21 minimum age), Michigan, Minnesota, Nebraska (19 minimum age), New Hampshire, New Jersey, New Mexico, New York, North Carolina, North Dakota, Ohio, Oklahoma, Oregon, Rhode Island, South Carolina, South Dakota, Texas, Utah, West Virginia, Wisconsin, and Wyoming.<br>
        <strong>Thrive Overall Review</strong><br>
        Thrive provides an intriguing game with a fun product that adds a new dimension to your gameday tilt. Mixing the binary element of prop-betting to a GPP setting is a perfect way to diversify a weekly portfolio for the serious bettors, DFS players, and those just looking to have fun.<br>
        While there are some minor issues with the variety of contests offered, the fun nature of their games makes up for it. I’ve enjoyed my time playing on Thrive and would highly recommend at least trying it out.</p>
        <p>Create an account today at <a href="https://bit.ly/TheQuantEdge" target="_blank" rel="noopener noreferrer">Thrive</a> and use promo code TQE to get $10 instant match on your first $10 deposit</p>
      </div>
    </div>
  </div>
</div>