<div>
<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover" >
  <thead *ngIf="Loading; else stillLoading">
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Status</th>
      <th>Url</th>        
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let podcast of podcasts;let i = index">
      <td>{{ podcast.id }}</td>
      <td><span class="txtLimit">{{ podcast.title }}</span></td>
      <td>{{ podcast.status }}</td>
      <td><span class="txtLimit">{{ base_url + podcast.url }}</span></td>        
      <td> <button type="button" class="btn btn-primary" (click)="editPodcast(podcast.id)">Edit</button> </td>
      <td> <button type="button" class="btn btn-primary" (click)="deletePodcast(podcast.id, i)" *ngIf="canDelete">Delete</button> </td>
    </tr>
  </tbody>
</table>

<ng-template #stillLoading><p class="loader">Loading...</p></ng-template>
</div>