<div class="intForm">
  <div class="container">
    <div class="header">
      <span>
        <h4>Membership Plans | Select Your Winning Plan Today!</h4>
      </span>
      <span class="steps">
        Step <strong>{{ from }}</strong> of <strong>{{ to }}</strong>
      </span>
    </div>
    <div class="row">
      <div class="col">
        <div class="loading ccloading" *ngIf="loader"></div>
        <p class="alert alert-danger serverErr" *ngIf="planError"> {{ planError }} </p>

        <div id="accordionExample" class="accordion">
          <div class="card">
            <div class="card-header" id="headingOne">
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                  aria-expanded="true" aria-controls="collapseOne">
                  <h6>Selected Plan: <span class="plan-name">{{ selectedPlan?.name }}</span><i class="fas fa-info-circle ml-1"></i> <i class="fa-regular fa-circle-info"></i> </h6>
                </button>
            </div>
            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <div class="headTitle">
                  <strong>{{ selectedPlan?.name }}</strong>
                  <p *ngIf="!is_free">{{ selectedPlan?.membership_text }}</p>
                  <p *ngIf="is_free">{{ selectedPlan?.trial_membership_text }}</p>
                  <ul [innerHTML]="selectedPlan?.description"></ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="register-form">
          <strong class="formTitle">Account Information</strong>
          <form autocomplete="off" [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="row">
              <div class="col">
                <div class="form-group">
                  <label for="fname"><b>First Name</b></label>
                  <input type="text" placeholder="Enter First Name" name="name" formControlName="first_name">
                  <p class="error"
                    *ngIf="registerForm.controls['first_name'].touched && registerForm.controls['first_name'].hasError('required')">
                    This field is required</p>
                </div>

                <div class="form-group">
                  <label for="lname"><b>Last Name</b></label>
                  <input type="text" placeholder="Enter Last Name" name="name" formControlName="last_name">
                  <p class="error"
                    *ngIf="registerForm.controls['last_name'].touched && registerForm.controls['last_name'].hasError('required')">
                    This field is required</p>
                </div>

                <div class="form-group">
                  <label for="uname"><b>Username</b></label>
                  <input type="text" placeholder="Enter Username" name="uname" formControlName="username">
                  <p class="error"
                    *ngIf="registerForm.controls['username'].touched && registerForm.controls['username'].hasError('required')">
                    This field is required</p>
                </div>

                <div class="form-group">
                  <label for="email"><b>Email</b></label>
                  <input type="email" placeholder="Enter Email" name="email" formControlName="email">
                  <p class="error"
                    *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('required')">
                    This field is required</p>
                  <p class="error"
                    *ngIf="registerForm.controls['email'].touched && registerForm.controls['email'].hasError('pattern')">
                    Invalid Email</p>
                  <p class="error" *ngIf="registerForm.controls['email'].hasError('special_char_found')"> Invalid Email
                  </p>
                </div>
                <div class="form-group">
                  <label for="psw"><b>Confirm Email</b></label>
                  <input type="email" placeholder="Your Confirm Email" name="confirmEmail"
                    formControlName="confirmEmail">
                  <p class="error"
                    *ngIf="registerForm.controls['confirmEmail'].touched && registerForm.controls['confirmEmail'].hasError('required')">
                    This field is required</p>
                  <p class="error"
                    *ngIf="registerForm.controls['confirmEmail'].touched && registerForm.controls['confirmEmail'].hasError('pattern')">
                    Invalid Email</p>
                  <p class="error" *ngIf="registerForm.controls['confirmEmail'].hasError('special_char_found')"> Invalid
                    Email</p>
                  <p class="error" *ngIf="frontErrorEmail != ''"> {{ frontErrorEmail }} </p>
                </div>

                <div class="form-group">
                  <label for="psw"><b>Password</b></label>
                  <input type="password" placeholder="Enter Password" name="psw" formControlName="password"
                    autocomplete="new-password">
                  <p class="error"
                    *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('required')">
                    This field is required</p>
                  <p class="error"
                    *ngIf="registerForm.controls['password'].touched && registerForm.controls['password'].hasError('minlength')">
                    Password length should be greater than 5</p>
                </div>

              </div>
            </div>
            <p class="alert alert-danger serverErr" *ngIf="server_error_message"> {{ server_error_message }} </p>
            <p *ngIf="serverResponse">{{ serverResponse }}</p>
            <div *ngIf="disable_register" class="loading"></div>
            <div class="row">
              <div class="col">
                <button class="btn btn-success actionButton" type="submit"
                  [disabled]="registerForm.invalid || disable_register">Continue</button>
              </div>
            </div>
          </form>
          <p class="login mb-5">
            <a routerLink="/login">Already have an account? &nbsp; Sign In</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>