<div id="cb-best-bets" class="container best-bets">
  <div *ngIf="games_today.length != 0" class="row">
    <div class="col-md-12">
      <div class="card shadow-lg mt-3 mb-5">
        <div class="card-header">
          <h5>Today's NCAAB Picks <small>{{ gameDate }}</small></h5>
          <span class="tqe-pick">TQE Picks in Green</span>
          <!-- <span class="tqe-high-pick">TQE Hight Confidence Picks</span> -->
        </div>
        <div class="wrapper">
          <table *ngIf="!loading" class="bets-table all-bets table table-borderless mb-0 scroll">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Time</th>
              <th scope="col" colspan="1">Matchup</th>
              <th scope="col" class="text-center">Implied Prob/Moneyline/TQE Prob</th>
              <th scope="col" class="text-center">Spread Line/Odds/TQE Prob</th>
              <th scope="col" class="text-center">Total Line/Odds/TQE Prob</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let game of games_today">
              <tr class="team away">
                <td rowspan="2" class="border-bottom align-middle">
                    <span class="badge badge-danger"
                          *ngIf="game.started">Started</span><br *ngIf="game.started"><b>{{ game.local_start_time }}</b>
                </td>
                <!--                  <td style="max-width:48px">
                                    <img src="../../../../assets/images/logos/nba/{{game.a_team}}.png" style="max-height:32px">
                                  </td>-->
                <td class="name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.a_team}} {{game.a_team}}</b><br>
                    at
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.a_team}}<br />
                    <b class="h6">{{game.a_team}}</b><br>
                    at
                  </div>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ml_pick === 'away' && game.m_a_prob>game.m_a_improb && game.m_a_prob*100 < 60.0"
                [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'away' && game.m_a_prob>game.m_a_improb && game.m_a_prob*100 >= 60.0" -->
                <td class="odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'away' && game.m_a_prob>game.m_a_improb"
                >
                  <!--<span>{{ game.m_a_odds }}</span>-->
                  <span *ngIf="!isAuthorized">{{ game.m_a_odds }}</span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      <!--{{ game.m_a_odds }}-->
                    {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.sp_pick === 'away' && game.s_a_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.sp_pick === 'away' && game.s_a_prob*100 >= 60.0" -->
                <td class="odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'away'"
                >
                  <!--<span>{{ game.s_a_line }} / {{ game.s_a_odds }}</span>-->

                  <span *ngIf="!isAuthorized">{{ game.s_a_line }} / {{ game.s_a_odds }}</span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'away'">
                      {{ game.s_a_line }} / {{ game.s_a_odds }} / {{game.s_a_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'home'">
                      {{ game.s_a_line }} / {{ game.s_a_odds }}
                    <!-- {{ game.s_a_line }} / {{ game.s_a_odds }} / {{game.s_a_prob*100 | number:'1.1-1'}}--><!--%-->
                    </span>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ou_pick === 'over' && game.t_o_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ou_pick === 'over' && game.t_o_prob*100 >= 60.0" -->
                <td class="odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'over'"
                >
                  <!--                    <span>
                                        over
                                        {{ game.t_line }} / {{ game.t_o_odds }}
                                      </span>-->

                  <span *ngIf="!isAuthorized">
                      over
                    {{ game.t_line }} / {{ game.t_o_odds }}
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'over'">
                      over
                    {{ game.t_line }} / {{ game.t_o_odds }} / {{game.t_o_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'under'">
                      over
                    {{ game.t_line }} / {{ game.t_o_odds }}
                    <!--                       over
                      {{ game.t_line }} / {{ game.t_o_odds }} / {{game.t_o_prob*100 | number:'1.1-1'}}%%-->
                    </span>
                </td>
              </tr>


              <tr class="team home">
                <!--                  <td class="border-bottom" style="max-width:48px">
                                    <img src="../../../../assets/images/logos/nba/{{game.home_team_abbr}}.png" style="max-height:32px">
                                  </td>-->
                <td class="border-bottom name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.h_team}} {{game.h_team}}</b>
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.h_team}}<br />
                    <b class="h6">{{game.h_team}}</b>
                  </div>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ml_pick === 'home' && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'home' && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 >= 60.0" -->
                <td class="border-bottom odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'home' && game.m_h_prob>game.m_h_improb"
                >
                  <!--<span>{{ game.m_h_odds }}</span>-->
                  <span *ngIf="!isAuthorized">{{ game.m_h_odds }}</span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      <!--{{ game.m_h_odds }}-->
                    {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.sp_pick === 'home' && game.s_h_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.sp_pick === 'home' && game.s_h_prob*100 >= 60.0" -->
                <td class="border-bottom odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'home'"
                >
                  <!--<span>{{ game.s_h_line }} / {{ game.s_h_odds }}</span>-->

                  <span *ngIf="!isAuthorized">{{ game.s_h_line }} / {{ game.s_h_odds }}</span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'home'">
                      {{ game.s_h_line }} / {{ game.s_h_odds }} / {{game.s_h_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'away'">
                      {{ game.s_h_line }} / {{ game.s_h_odds }}
                    <!-- {{ game.s_h_line }} / {{ game.s_h_odds }} / {{game.s_h_prob*100 | number:'1.1-1'}}--><!--%-->
                    </span>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ou_pick === 'under' && game.t_u_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ou_pick === 'under' && game.t_u_prob*100 >= 60.0" -->
                <td class="border-bottom odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'under'"
                >
                  <!--<span>under {{ game.t_line }} / {{ game.t_u_odds }}</span>-->

                  <span *ngIf="!isAuthorized">
                      under
                    {{ game.t_line }} / {{ game.t_u_odds }}
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'under'">
                      under
                    {{ game.t_line }} / {{ game.t_u_odds }} / {{game.t_u_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'over'">
                      under
                    {{ game.t_line }} / {{ game.t_u_odds }}
                    <!--                       over
                    {{ game.t_line }} / {{ game.t_u_odds }} / {{game.t_u_prob*100 | number:'1.1-1'}}%%-->
                    </span>


                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="games.length != 0" class="row">
    <div class="col-md-12">
      <div class="card shadow-lg mt-3 mb-5">
        <div class="card-header">
          <h5>NCAAB Full Schedule <small>Till {{ finalDate }}</small></h5>
          <span class="tqe-pick">TQE Picks in Green</span>
          <!-- <span class="tqe-high-pick">TQE Hight Confidence Picks</span> -->
        </div>
        <div class="wrapper">
          <table *ngIf="!loading" class="bets-table all-bets table table-borderless mb-0 scroll">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Time</th>
              <th scope="col" colspan="1">Matchup</th>
              <th scope="col" class="text-center">Implied Prob/Moneyline/TQE Prob</th>
              <th scope="col" class="text-center">Spread Line/Odds/TQE Prob</th>
              <th scope="col" class="text-center">Total Line/Odds/TQE Prob</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let game of games">
              <tr class="team away">
                <td rowspan="2" class="border-bottom align-middle">
                    <span class="badge badge-danger"
                          *ngIf="game.started">Started</span><br *ngIf="game.started"><b>{{ game.local_start_time }}</b>
                </td>

                <td class="name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.a_team}} {{game.a_team}}</b><br>
                    at
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.a_team}}<br />
                    <b class="h6">{{game.a_team}}</b><br>
                    at
                  </div>
                </td>
                <td class="odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'away' && game.m_a_prob>game.m_a_improb"
                >
                  <span *ngIf="!isAuthorized">{{ game.m_a_odds }}</span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      {{ game.m_a_improb*100 | number:'1.1-1'}}% / {{ game.m_a_odds }} / {{game.m_a_prob*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <td class="odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'away'"
                >
                  <span *ngIf="!isAuthorized">{{ game.s_a_line }} / {{ game.s_a_odds }}</span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'away'">
                      {{ game.s_a_line }} / {{ game.s_a_odds }} / {{game.s_a_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'home'">
                      {{ game.s_a_line }} / {{ game.s_a_odds }}
                    </span>
                </td>
                <td class="odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'over'"
                >

                    <span *ngIf="!isAuthorized">
                      over
                      {{ game.t_line }} / {{ game.t_o_odds }}
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'over'">
                      over
                    {{ game.t_line }} / {{ game.t_o_odds }} / {{game.t_o_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'under'">
                      over
                    {{ game.t_line }} / {{ game.t_o_odds }}
                    </span>
                </td>
              </tr>
              <tr class="team home">
                <!--                  <td class="border-bottom" style="max-width:48px">
                                    <img src="../../../../assets/images/logos/nba/{{game.home_team_abbr}}.png" style="max-height:32px">
                                  </td> -->
                <td class="border-bottom name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.h_team}} {{game.h_team}}</b>
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.h_team}}<br />
                    <b class="h6">{{game.h_team}}</b>
                  </div>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ml_pick === 'home' && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'home' && game.m_h_prob>game.m_h_improb && game.m_h_prob*100 >= 60.0" -->
                <td class="border-bottom odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'home' && game.m_h_prob>game.m_h_improb"
                >
                  <!--<span>{{ game.m_h_odds }}</span>-->
                  <span *ngIf="!isAuthorized">{{ game.m_h_odds }}</span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      <!--{{ game.m_h_odds }}-->
                    {{ game.m_h_improb*100 | number:'1.1-1'}}% / {{ game.m_h_odds }} / {{game.m_h_prob*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.sp_pick === 'home' && game.s_h_prob*100 < 60.0"
                [class.tqe-high-pick]="isAuthorized && game.sp_pick === 'home' && game.s_h_prob*100 >= 60.0" -->
                <td class="border-bottom odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'home'"
                >
                  <!--<span>{{ game.s_h_line }} / {{ game.s_h_odds }}</span>-->

                  <span *ngIf="!isAuthorized">{{ game.s_h_line }} / {{ game.s_h_odds }}</span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'home'">
                      {{ game.s_h_line }} / {{ game.s_h_odds }} / {{game.s_h_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.sp_pick === 'away'">
                      {{ game.s_h_line }} / {{ game.s_h_odds }}
                    <!-- {{ game.s_h_line }} / {{ game.s_h_odds }} / {{game.s_h_prob*100 | number:'1.1-1'}}--><!--%-->
                    </span>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ou_pick === 'under' && game.t_u_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ou_pick === 'under' && game.t_u_prob*100 >= 60.0" -->
                <td class="border-bottom odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'under'"
                >
                  <!--<span>under {{ game.t_line }} / {{ game.t_u_odds }}</span>-->

                  <span *ngIf="!isAuthorized">
                      under
                    {{ game.t_line }} / {{ game.t_u_odds }}
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'under'">
                      under
                    {{ game.t_line }} / {{ game.t_u_odds }} / {{game.t_u_prob*100 | number:'1.1-1'}}%
                    </span>

                  <span *ngIf="isAuthorized && game.ou_pick === 'over'">
                      under
                    {{ game.t_line }} / {{ game.t_u_odds }}
                    <!--                       over
  {{ game.t_line }} / {{ game.t_u_odds }} / {{game.t_u_prob*100 | number:'1.1-1'}}%%-->
                    </span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
