.main-container{
  padding: 10px;
}

.flex-center{
  align-items: center;
  justify-content: center;
}

.headline{
  color: #1fb122;
  font-size: 20pt;
  font-weight: 700;
  text-transform: uppercase;
}

.p1-text{
  font-size: 18px;
  line-height: 20px;
  color: #777;
  font-family: 'Poppins', sans-serif;
}

.alert-text{
  font-size: 18px;
  line-height: 20px;
  color: #0c5460;
  font-family: 'Montserrat', sans-serif;
}

.row{
  width: 100%;
}

.dropdown{
  width: 300px;
  max-width: 100%;
}

.layout-container{
  height: 100%;
  width:100%;
}

.titlecomp{
  display: block;
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
  color: #000;
  line-height: 1;
  padding: 0 0 20px;
  margin-left: 0%;
}
@media (max-width: 1400px){
  .titlecomp {
    margin-left: 0%;
  }
}

.center{
  text-align: center;
}

.left{
  text-align: center;
}

.left-container {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -2px 20px;
  margin-left: 5%;
  width: 100%;
}
.middle-container{
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -2px 20px;
  margin-left: 5%;
  margin-bottom: 24%;
  width: 100%;
}
@media(max-width: 1000px) {
  .middle-container {
    margin-left: 0%;
  }
}
.right-container {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -2px 20px;
  margin-left: 6%;
  width: 100%;
}
.team-logo-container {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media(min-width: 700px) and (max-width: 1400px) {
  .team-logo-container {
    width: 100%;
  }
}

label {
  display: inline-block;
  margin-bottom: .5rem;
  margin-top: 5%; 
  text-align: center;
}

.player-select-each-1 {
  display: flex;
  flex-direction: row;
  width: 120%;
}
.player-select-each-2 {
  display: flex;
  flex-direction: row;
  width: 120%;
}
@media(min-width: 700px) and (max-width: 1400px) {
  .player-select-each-1 {
    width: 140%;
  }
  .player-select-each-2 {
    width: 140%;
  }
}
.teamname-con {
  width: 20%;
}
.image-con {
  width: 20%
}
.performance-level-bar {
  display: flex;
  flex-direction: column;
  width: 40%;
  b, strong {
    font-weight: bolder;
    font-size: 80%;
  }
}
#player-name {
  margin-top: 15%;
    text-align: left;
    font-weight: 600;
    font-size: 85%;
}

@media (min-width: 700px) and (max-width: 800px){
  .left-container {
    width: 25%;
    margin-left: -3%
  }
  .middle-container {
    width: 38%;
    margin-left: 10%
  }
  .right-container {
    width: 25%;
    margin-left: 3%;
  }
  .scroll-pick{
    display: table !important;
  }
  #player-name {
    margin-top: 30%;
    font-size: 60%;
  }
}
@media (min-width: 801px){
  .left-container {
    width: 25%;
    // margin-left: 0%
  }
  .middle-container {
    width: 30%;
  }
  .right-container {
    width: 25%;
  }
  .scroll-pick{
    display: table !important;
  }
}
@media(min-width: 200px) and (max-width: 539px) {
  .scroll-vl{
    display: block;
  }
}
@media(min-width: 651px) {
  .scroll-vl{
    display: block;
  }
}

@media (min-width: 1250px) and (max-width: 1400px){
  .scroll-pick {
    width: 110%;
  }
}
@media (min-width: 1260px){
  .scroll-vl {
    display: table !important;
  }
}

@media (max-width: 800px){
  #player1-team-logo, #player2-team-logo{
    width: 60px !important;
    height: 60px !important;
    left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 1100px){
  #player2-logo{
    width: 150px !important;
    height: 150px !important;
  }
}

.sub-left, .sub-middle, .sub-right {
  float: none;
  display: inline-block;
  vertical-align: middle;
  margin: 0 -2px 20px;
}

.sub-left {
  width: 40%;
}
.sub-middle {
  width: 20%;
}
.sub-right {
  width: 40%;
}

#logo{
  border-radius: 0;
  height: auto !important;
  width: 100px !important;
  margin: 0 auto;
}

#VS-text{
  float: none;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  margin: 0 -2px 20px -60px;
}

#VS-h{
  font-size: 40px;
  font-style: italic;
  color: #000;
  display: inline-block;
}

#h3-text-1{
  font-size: 24px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 40%;
}
@media(min-width: 700px) and (max-width: 80-px) {
  #h3-text-1{
    margin-left: 32%;
  }
}
@media(max-width: 500px) {
  #h3-text-1{
    margin-left: 35%;
  }
}
#h3-text-2{
  font-size: 24px;
  font-weight: 500;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  margin-left: 7%;
}
@media(max-width: 500px) {
  #h3-text-2{
    width: 70%; 
    margin-left: 20%;
  }
}
@media(min-width: 700px) and (max-width: 800px) {
  #h3-text-2{
    width: 70%;
    margin-left: 20%;
  }
}

#title-team{
  color: #000;
  font-size: 130%;
  display: block;
  margin-top: 6%; 
}

.result-tb td{
  border-bottom: 1px solid #ddd;
  padding: 8px;
  color: #777;
}
.result-tb tr:nth-child(odd){
  background-color: #f9f9f9;
}

.scroll-vl, .scroll-pick {
  // display: block;
  overflow: auto;
  white-space: normal;
}


.player-holder{
  position: relative;
  width: 200px;
  display: contents;
}

#player1-logo{
  border-radius: 100%;
  overflow: hidden;
  height: 80% !important;
  width: 100% !important;
  margin: 0 auto 20px;
  vertical-align: middle;
}
@media(min-width: 700px) and (max-width: 800px) {
  #player1-logo{
    width: 90% !important;
    height: 40% !important;
  }
}

@media (max-width: 1600px){
  #player1-logo{
    width: 80% !important;
  }
}
@media(min-width: 801px) and (max-width: 1400px) {
  .team-logo-container {
    width: 100%;
  }
}

@media (max-width: 420px){
  #player1-logo{
    width: 80% !important;
    height: 60% !important;
  }
}

#player1-team-logo{
  /*position: absolute;
  top: 36%;
  left: 119px;*/
  z-index: 9;
  background: #fff;
  width: 20% !important;
  height: 100% !important;
  margin-top: -40px;
  border-radius: 100%;
  overflow: hidden;
  margin: 0 0 20px;
  vertical-align: middle;
}
@media(min-width: 700px) and (max-width: 800px) {
  #player1-team-logo{
    width: 50% !important;
    height: 60px !important;
  }
}


/*Angular Material Slider*/
mat-slider {
  width: 100%;
  margin-top: -10%;
}

::ng-deep {
  .mat-slider.mat-slider-horizontal .mat-slider-track-wrapper {
    height: 12px;
    border-radius: 10px
  }
  .mat-slider.mat-slider-horizontal .mat-slider-track-background,
  .mat-slider.mat-slider-horizontal .mat-slider-track-fill {
    height: 100%;
  }

  #container-0 .mat-accent .mat-slider-track-background {
    background:linear-gradient(-90deg, green, yellow, red);
  }

  #container-50 .mat-accent .mat-slider-track-fill {
    background-image: linear-gradient(-90deg, yellow, red);
  }

  #container-50 .mat-accent .mat-slider-track-background {
    background:linear-gradient(-90deg, green, yellow);
  }

  #container-100 .mat-accent .mat-slider-track-fill {
    background:linear-gradient(-90deg, green, yellow, red);
  }

  .mat-accent .mat-slider-thumb {
    height: 30px;
    width: 30px;
    background-color: white;
    border: solid 2px gray;
    bottom: -20px;
    right: -20px;
  }
  .mat-slider-min-value:not(.mat-slider-thumb-label-showing) .mat-slider-thumb {
    background-color: white;
  }
}

.range-label {
  position: relative;
  background: #fff;
  // padding: 5px 0;
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: 70%;
}

@media(min-width: 700px) and (max-width: 800px) {
  .range-label {
    font-size: 60%;
    margin-left: 10%;
  }
}

.range-label span {
  display: inline-block;
  color: #000000;
}

.range-label span:first-child {
  float: left;
}

.range-label span:last-child {
  float: right;
}

.loadersmall {
  border: 5px solid #f3f3f3;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}