.navbar {
  font-size: 16px;
  font-weight: 500;
  background-color: #000000;
  border-bottom: 1px solid #999999;
  height: 5em;
  color: white;
  font-family: 'Chakra Petch', sans-serif;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

.navbar-brand img {
  height: 1.5em;
  width: 3.5em;
  margin-top: 0.3em;
  margin-left: 1.5em;
}

.login-btn {
  width: 6em;
}

.profile-btn img {
  height: 24px;
  width: 24px;
}

.nav-item {
  margin: 0 2em;
}

.navbar-nav {
  margin: 0 auto;
}

.navbar-nav .dropdown-toggle::after {
  display: none;
}

.nav-item .nav-link {
  color: white;
}

.nav-item.active .nav-link {
  color: #18CB16;
}

.nav-item:hover .nav-link {
  color: #18CB16;
  background-color: #000000;
}

.navbar .dropdown-menu {
  background-color: #000000;
}

.navbar .dropdown-item {
  color: white;
  background-color: #000000;
  padding: 0.6em 1em;
}

.navbar .dropdown-item:hover {
  background-color: black;
  color: #18CB16;
}

.name-text {
  display: inline-block;
  font-family: 'Smooch Sans', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  vertical-align: middle;
}

@media (min-width: 992px) {
  .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
  }
}

@media (max-width: 992px) {
  #navbarNav {
    background-color: #000000;
    padding-bottom: 2em;
  }
  .dropdown-menu {
    text-align: center;
  }
  .profile-section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
