<div class="overlay" *ngIf="overLay" (click)="showOverlay()"></div>
<div id="masthead-top">
  <div class="container-fluid" [ngClass]="{'bg-white' : typeofComponent == 'light' , 'bg-dark' : typeofComponent == 'dark' }">
    <div class="row flex-nowrap justify-content-between align-items-center resp-nav">
      <div class="col-2 pt-1 ps-2">
        <a class="header-logo" [routerLink]="['/']">
          <div *ngIf="typeofComponent == 'dark'" class="logo-tqe">
            <img src="./../assets/images/footer-logo-1.png" width="30%" alt="" class="resp-logo">
          </div>
          <div *ngIf="typeofComponent == 'light'">
            <img src="./../assets/images/tqe_logo_black.png" width="35%" alt="" class="resp-logo">
          </div>
         </a>
      </div>
      <div class="col-8 super-main-div" [ngClass]="{'bg-white' : typeofComponent == 'light' , 'bg-dark' : typeofComponent == 'dark' }">
        <!-- <div id="main-nav" [ngClass]="{'typeofComponent' == 'light' ? 'bg-white' : 'bg-dark' }"></div> -->
        <!-- [ngClass]="{'text-dark': typeofComponent == 'light' , 'text-white' : typeofComponent == 'dark' }" -->
        <div id="main-nav" >
          <div class="container width-cont">
            <nav class="navbar navbar-dark  main-div-nav " [ngClass]="{'bg-white': typeofComponent == 'light' , 'bg-dark' : typeofComponent == 'dark' }" >
              <ul class="nav row justify-content-center">
                <ng-container *ngFor="let nav of navigationLinks">
                  <li class="nav-item col dropdown">
                    <a class="nav-link dropdown-toggle drop-title " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" [ngClass]="{'text-dark': typeofComponent == 'light' , 'text-white' : typeofComponent == 'dark' }">{{nav.label}}</a>
                    <div class="dropdown-menu">
                      <ng-container *ngFor="let link of nav.subNav">
                        <a *ngIf="!loggedIn" class="dropdown-item" [routerLink]="[link.loggedOutURL]">{{link.label}}</a>
                        <a *ngIf="loggedIn" class="dropdown-item" [routerLink]="[link.loggedInURL]">{{link.label}}</a>
                      </ng-container>
                    </div>
                  </li>
                </ng-container>
              </ul>
            </nav>
          </div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center nav-lgn-btn" *ngIf="!loggedIn">
        <a class="btn btn-sm btn-outline-light"[routerLink]="['/login']">Login</a>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center aft-log-btn" *ngIf="loggedIn">
        <!-- Example split danger button -->
        <div class="btn-group">
          <button type="button" class="btn btn-outline-light name-btn"><i class="fa fa-user"></i> {{Name}}</button>
          <button type="button" class="btn btn-outline-light  dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="/profile">Profile &amp; Settings</a>
            <a class="dropdown-item" href="/admin" *ngIf="is_admin">Admin Dashboard</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logOut()">Logout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Privous Code -->
<!-- <div id="main-nav" class="bg-dark">
  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <ul class="nav row justify-content-center">
        <ng-container *ngFor="let nav of navigationLinks">
          <li class="nav-item col dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{nav.label}}</a>
            <div class="dropdown-menu">
              <ng-container *ngFor="let link of nav.subNav">
                <a *ngIf="!loggedIn" class="dropdown-item" [routerLink]="[link.loggedOutURL]">{{link.label}}</a>
                <a *ngIf="loggedIn" class="dropdown-item" [routerLink]="[link.loggedInURL]">{{link.label}}</a>
              </ng-container>
            </div>
          </li>
        </ng-container>
      </ul>
    </nav>
  </div>
</div> -->
<div class="navTop" [ngClass]="{extH: is_admin}"></div>