<div class="header">
  <h2>Meet the Team</h2>
</div>
<div class="aboutUs">
  <div class="media">
    <img src="../../../assets/images/experts/Todd-Gross.jpg" alt="Todd Gross">
    <div class="media-body">
      <h5>Todd Gross, Founder and CEO</h5>
      <p>
        Todd founded TheQuantEdge with a vision to help sports enthusiasts make money by making smarter betting
        and daily fantasy decisions. He previously ran Global Commodities Options Trading for Morgan Stanley and
        then founded Hudson Capital Group, and was awarded the best performing commodities hedge fund manager by
        BarclayHedge several times. Todd has brought the expertise in quantitative analysis and machine learning
        he used in the financial markets to build TQE's sports betting and fantasy platform.

        Todd is a graduate of the University of Pennsylvania's Management and Technology Program, including
        degrees from the Wharton School of Business and School of Engineering (where he has served on the board of
        overseers). His favorite sport is baseball and his favorite team is the New York Yankees.
      </p>
    </div>
  </div>
  <hr>
  <h4>Advisory Team</h4>
  <hr>
  <div class="media">
    <img src="../../../assets/images/experts/Andrew Tottenham.jpg" alt="Andrew Tottenham">
    <div class="media-body">
      <h5>Andrew Tottenham</h5>
      <p>Founder and Managing Director, Tottenha & Co.
        Firm Specializes in International gaming industry. Clients include blue chip gaming operators & suppliers
      </p>
    </div>
  </div>
  <div class="media">
    <img src="../../../assets/images/experts/Shep Messing.jpg" alt="Shep Messing">
    <div class="media-body">
      <h5>Shep Messing</h5>
      <p>Olympic Goalkeeper 1972 Team USA in Munich.
        Graduate of Harvard University. Goalkeeper for NY Cosmos. Partnership with Pele in Global Soccer Agency
        Business for 2 decades. 1993 Inductee into New York Sports Hall of Fame, Current Chairman of MASI
      </p>
    </div>
  </div>
  <div class="media">
    <img src="../../../assets/images/experts/Robert Striar.jpg" alt="Robert Striar">
    <div class="media-body">
      <h5>Robert Striar</h5>
      <p>CEO Bull Horn Holdings, President of M Style Marketing. Former Pro Hockey Player. Successful partnerships
        with Twitch, NASDAQ: BHSE, Sports and Gambling SPAC, BA University of Vermont
      </p>
    </div>
  </div>
  <div class="media">
    <img src="../../../assets/images/experts/Sameer Ughade.jpg" alt="Sameer Ughade">
    <div class="media-body">
      <h5>Sameer Ughade, Interim CTO</h5>
      <p>MS Computer Science George Washington University, Washington DC; Fifteen Years Experience in technology
        with experience in Financial Services
        and Healthcare; Technology Experience in Cloud, Business Intelligence, CRM, ERP, SDLC, Track and Trace;
        Expertise in Regulatory and Cybersecurity Compliance
      </p>
    </div>
  </div>
</div>
