.aboutUs {
    .media {
        margin:3.0em;
        img {
            width:150px;
            border-radius: 50%;
        }
        h5 {
            line-height:1.5em;
            margin-bottom: 0.75em;
        }
        p {
            margin-bottom: 1.5em;
        }
    }
}




