.sidebar {
    color: white !important;
    font-family: 'Chakra Petch', sans-serif !important;
    font-size: 16px !important;
    margin-top: 3em !important;
    padding: 0 !important;
}

.sidebar li {
    cursor: pointer !important;
    margin: 1em 0 !important;
    padding: 1em !important;
    text-align: center !important;
    list-style: none !important;
}

.sidebar li:hover, .sidebar li.active {
    background-color: #2e2e2e !important;
    border-left: 0.25em solid #18CB16 !important;
}

.sidebar a {
    color: white !important;
    text-decoration: none !important;
}
