<div class="body" [class.mobile-body]="isMobile">
  <div class="main-container" [ngStyle]="{
  'background-image': !isMobile ? 'url(' + game_background_img + ')' : 'url(' + game_background_mobile_img + ')'
}">
    <div class="container-fluid" *ngFor="let gameDay of keys(games_by_day); let i=index;">
      <div class="main-header" *ngIf="i === 0">
        <div class="game-header">
          <div class="logo-section" >
            <img class="game-logo" [src]="game_logo">
          </div>
        </div>
        <div class="league-info">
          <div type="button" class="league-headers" *ngFor="let league of all_leagues" (click)="onClickLeague(league)"
            [class.selected]="league === selected_league">
            {{league}}
          </div>
        </div>
      </div>
      <div class="game-body">
       <div class="upgrade-banner" *ngIf="!isAuthorized && i===0">
          <div class="upgrade-text">
            <div class="top-line">More information is limited to TQE Members only</div>
            <div class="bottom-line">Upgrade your plan right now to unlock the full potential of TQE for a better bet!</div>
          </div>
          <div class="upgrade-button"> 
             <button class="btn" (click)="redirectToMembershipPlans('Professional')">Try for Free Now!</button>
          </div>
        </div>
        <span class="modal-button one b-5" data-toggle="modal" data-target="#layout-explanation-modal" *ngIf="i===0" [class.mobile]="isMobile"><i class="fas fa-info-circle"></i>&nbsp;Understand the Picks Tool</span>
        <div class="table-top">
          <div class="table-heading-section">
            <div class="table-heading-text">{{gameDay}}</div>
            <div class="right-angled-triangle">TT</div>
          </div>
          <div class="table-legend-text">
            <div>
              <span class="green-circle"></span>
              <span>TQE Picks</span>
            </div>
            <div>
              <span class="red-circle"></span>
              <span>TQE High Confidence Picks</span>
            </div>
          </div>
        </div>
        <div class="table-body" *ngIf="!isMobile">
          <table *ngIf="!loading" class="table table-borderless">
            <thead>
              <tr>
                <th scope="col" rowspan="2" class="align-middle">TIME</th>
                <th scope="col" rowspan="2" class="align-middle">HOME</th>
                <th scope="col" rowspan="2" class="align-middle">AWAY</th>
                <th scope="col" colspan="3" class="align-middle">MONEYLINE</th>
              </tr>
              <tr>
                <td>
                  <div>
                    <span>Implied Prob</span>
                    <span>Home</span>
                    <span>TQE Prob</span>
                  </div>
                </td>
                <td>
                  <div>
                    <span>Implied Prob</span>
                    <span>Draw</span>
                    <span>TQE Prob</span>
                  </div>
                </td>
                <td>
                  <div>
                    <span>Implied Prob</span>
                    <span>Away</span>
                    <span>TQE Prob</span>
                  </div>
                </td>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let game of games_by_day[gameDay]">
                <tr class="game-info">
                  <td>
                    <p class="mb-2 started" *ngIf="game.started">
                      Started
                    </p>
                    <p>
                      {{ game.local_start_date }}, {{ game.local_start_time}}
                    </p>
                  </td>
                  <td class="team-logo">
                    <div>
                      <span>
                        <span class="team-name">
                          {{ game.h_team }}
                        </span>
                      </span>
                    </div>
                  </td>
                  <td class="team-logo">
                    <div>
                      <span>
                        <span class="team-name">
                          {{ game.a_team }}
                        </span>
                      </span>
                    </div>
                  </td>
                  <td [class.TQEP]="isTQEP(game, 'h')" [class.TQEHCP]="isTQEHCP(game, 'h')">
                    <div *ngIf="isAuthorized">
                      <span>
                        {{ game.m_h_improb*100 | number:'1.1-1' }}%
                      </span>
                      <span>
                        {{ game.m_h_odds }}
                      </span>
                      <span>
                        {{ game.m_h_prob*100 | number:'1.1-1' }}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span class="blurred-text">+130</span>
                      <span>{{ game.m_h_odds }}</span>
                      <span class="blurred-text">70.3%</span>
                    </div>
                  </td>
                  <td [class.TQEP]="isTQEP(game, 't')" [class.TQEHCP]="isTQEHCP(game, 't')">
                    <div *ngIf="isAuthorized">
                      <span>
                        {{ game.m_t_improb*100 | number:'1.1-1' }}%
                      </span>
                      <span>
                        {{ game.m_t_odds }}
                      </span>
                      <span>
                        {{ game.m_t_prob*100 | number:'1.1-1' }}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span class="blurred-text">+130</span>
                      <span>{{ game.m_t_odds }}</span>
                      <span class="blurred-text">70.3%</span>
                    </div>
                  </td>
                  <td [class.TQEP]="isTQEP(game, 'a')" [class.TQEHCP]="isTQEHCP(game, 'a')">
                    <div *ngIf="isAuthorized">
                      <span>
                        {{ game.m_a_improb*100 | number:'1.1-1' }}%
                      </span>
                      <span>
                        {{ game.m_a_odds }}
                      </span>
                      <span>
                        {{ game.m_a_prob*100 | number:'1.1-1' }}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span class="blurred-text">+130</span>
                      <span>{{ game.m_a_odds }}</span>
                      <span class="blurred-text">70.3%</span>
                    </div>
                  </td>

                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>





        <!-- Mobile Version -->
        <div class="table-body" *ngIf="isMobile">
          <table *ngIf="!loading" class="table table-borderless">
            <tbody>
              <ng-container *ngFor="let game of games_by_day[gameDay]">
                <tr class="first-row">
                  <th>Time</th>
                  <th colspan="3">Matchup</th>
                </tr>
                <tr>
                  <td rowspan="2" class="match-time">
                    {{game.local_start_date}} <br/>
                    {{game.local_start_time}}
                    <span class="started" *ngIf="game.started">
                      <br/>
                      Started
                    </span>
                  </td>
                  <td colspan="3">
                    <span class="team-info">
                      <span>
                        <span>
                          {{ game.a_team }} (Away)
                        </span>
                      </span>
                    </span>
                  </td>
                </tr>
                <tr>
                  <td colspan="3">
                    <span class="team-info">
                      <span>
                        <span>
                          {{ game.h_team }} (Home)
                        </span>
                      </span>
                    </span>
                  </td>
                </tr>
                <tr>
                  <th>Money Line</th>
                  <th class="subheader">Implied Prob</th>
                  <th class="subheader">Odds</th>
                  <th class="subheader">Prob</th>
                </tr>
                <tr [class.TQEP]="isTQEP(game, 'h')" [class.TQEHCP]="isTQEHCP(game, 'h')">
                  <td>Home</td>
                  <td class="blurred-text" *ngIf="!isAuthorized">+130</td>
                  <td *ngIf="isAuthorized">{{ game.m_h_improb*100 | number:'1.1-1' }}%</td>
                  <td>{{ game.m_h_odds }}</td>
                  <td *ngIf="isAuthorized">{{ game.m_h_prob*100 | number:'1.1-1' }}%</td>
                  <td class="blurred-text" *ngIf="!isAuthorized">70.3%</td>
                </tr>
                <tr [class.TQEP]="isTQEP(game, 't')" [class.TQEHCP]="isTQEHCP(game, 't')">
                  <td>Draw</td>
                  <td class="blurred-text" *ngIf="!isAuthorized">+130</td>
                  <td *ngIf="isAuthorized">{{ game.m_t_improb*100 | number:'1.1-1' }}%</td>
                  <td>{{ game.m_t_odds }}</td>
                  <td *ngIf="isAuthorized">{{ game.m_t_prob*100 | number:'1.1-1' }}%</td>
                  <td class="blurred-text" *ngIf="!isAuthorized">70.3%</td>
                </tr>
                <tr class="moneyline last-row" [class.TQEP]="isTQEP(game, 'a')" [class.TQEHCP]="isTQEHCP(game, 'a')">
                  <td>Away</td>
                  <td class="blurred-text" *ngIf="!isAuthorized">+130</td>
                  <td *ngIf="isAuthorized">{{ game.m_a_improb*100 | number:'1.1-1' }}%</td>
                  <td>{{ game.m_a_odds }}</td>
                  <td *ngIf="isAuthorized">{{ game.m_a_prob*100 | number:'1.1-1' }}%</td>
                  <td class="blurred-text" *ngIf="!isAuthorized">70.3%</td>
                </tr>
                <br/>
                <br/>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="pt-5">
      <div class="loadersmall"></div>
    </div>
    <div class="container-fluid" *ngIf="!loading && keys(keys(games_by_day)).length === 0">
      <div class="main-header">
        <div class="game-header">
          <div class="logo-section">
            <img class="game-logo" [src]="game_logo">
          </div>
          <div class="game-week">
            <span>No Soccer Picks for league {{ selected_league }}</span>
          </div>
        </div>
        <div class="league-info">
          <div type="button" class="league-headers" *ngFor="let league of all_leagues" (click)="onClickLeague(league)"
            [class.selected]="league === selected_league">
            {{league}}
          </div>
        </div>
      </div>
      <p class="no-games-text">No upcoming games for league {{ selected_league }}</p>
    </div>
  </div>
</div>

<!-- Modal Structure for Picks Tool Explanation -->
<div class="modal fade" id="layout-explanation-modal" tabindex="-1" role="dialog" aria-labelledby="Layout Explanation" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document" [class.mobile]="isMobile">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Layout Explanation">Understanding the Picks Tool</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <iframe 
          id="modalIframe"
          src="https://www.youtube.com/embed/kHjRQWlUkQ8?si=aJmxyJNKty7PXhvO" 
          title="YouTube video player" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
      </iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>