<div class="container-fluid p1-text">
  <div class="tab-pane Player_compare main-container" *ngIf="isAuthorized">
    <div id="todays-best-bets" class="container best-bets">
      <div class="d-flex justify-content-start">
        <!-- "row flex-center" -->
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <div class="alert alert-info mt-5" role="alert">
            <h4 class="alert-heading mb-2">Coming Soon!</h4>
            <p>This tool is not available yet because our engineers are hard at work updating it for the upcoming
              season.
            </p>
            <hr>
            <p class="mb-0">Check back soon, for updates to this great tool!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>