<div class="page-title">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>TQE Affiliates <span> | Want to Earn Some Cash?</span></h1>
      </div>
      <div class="col-auto">
        <a [routerLink]="['/affiliate/create-account']" class="page-title-anchor">Start Earning Cash Today!</a>
        <!-- <a *ngIf="loggedIn && user_info?.role_ids[0].role_id == 3" [routerLink]="['/affiliate/create-account']" class="page-title-anchor">Start Earning Cash Today!</a> -->
      </div>
    </div>
  </div>
</div>
<div class="easySteps">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="make-money">
          <img src="../../../assets/images/microphoneicon.png" >
          <div class="caption">
            <h2>
              HAVE AN AUDIENCE?
              <span>Making Money Is As Easy As 1-2-3! </span></h2>
            <p>Simply Introduce Your Audience to The Quant Edge & Get Paid!</p>
          </div>
        </div>
        <ol>
          <li>
            <div class="holder">
              <strong>Apply…</strong>
              <span>Free. Quick. Easy.</span>
              <p>Submit an application in mere minutes FREE! &nbsp;</p>
            </div>
          </li>
          <li>
            <div class="holder">
              <strong>Spread The Word…</strong>
              <span>Promote The Quant Edge…</span>
              <p>Use our banners, text links and tools to promote and attract. </p>
            </div>
          </li>
          <li>
            <div class="holder">
              <strong>Get Paid!</strong>
              <span>Produce Users… Earn Cash!</span>
              <p>Get paid with every qualified user sign up. Payments sent every 60 days. </p>
            </div>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
<div class="FAQs">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2>Frequently Asked Questions</h2>
        <div class="row">
          <div class="col">
            <h3>What is an Affiliate?</h3>
            <p>An affiliate is any business, website, or podcast that wants to promote our product. We’ll give you access to the tools and tracking links you need – it’s just on you to get it out there to your audience.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>How Do I Get Paid?</h3>
            <p>The company will pay the commission accrued and payable net 60 days, or two months following sign ups. If the amount accrued and payable to affiliate is less than One hundred dollars ($100), the company will roll over the amount payable to the following period.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Where Do Other Affiliates Promote The Quant Edge?</h3>
            <p>Our affiliates write articles around our tools, promote them on social media, tell their friends – whatever they can to spread the word.</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h3>Can I Talk to Someone?</h3>
            <p>Yes! Reach out to <a href="mailto:info@TheQuantEdge.com">info@TheQuantEdge.com</a> or chat with an expert below with any questions you may have.</p>
          </div>
        </div>
      </div>
    </div>

    <a [routerLink]="['/affiliate/create-account']" class="bTN_view">Join To Start Earning Cash Today!</a>
    <!-- <a *ngIf="loggedIn && user_info?.role_ids[0].role_id == 3" [routerLink]="['/affiliate/create-account']" class="bTN_view">Join To Start Earning Cash Today!</a> -->
  </div>
</div>