<div class="body" [class.mobile-body]="isMobile">
  <div class="main-container" *ngIf="!auth_loading" [ngStyle]="{
  'background-image': !isMobile ? 'url(' + game_background_img + ')' : 'url(' + game_background_mobile_img + ')'
}">
    <div class="container-fluid" *ngFor="let gameDay of keys(games_by_day)">
      <div class="game-header">
        <div class="logo-section">
          <img class="game-logo" [src]="game_logo">
        </div>
        <div class="game-week">
          <span>{{gameDay}} MLB Picks</span>
        </div>
      </div>
      <div class="game-body">
        <div class="table-top">
          <div class="table-heading-section">
            <div class="table-heading-text">Our Picks</div>
            <div class="right-angled-triangle">TT</div>
          </div>
          <div class="table-legend-text">
            <div>
              <span class="green-circle"></span>
              <span>TQE Picks</span>
            </div>
            <div>
              <span class="red-circle"></span>
              <span>TQE High Confidence Picks</span>
            </div>
          </div>
        </div>
        <div class="table-body">
          <table *ngIf="!loading" class="table table-borderless">
            <thead>
              <tr>
                <th scope="col">
                  Time
                  <div></div>
                </th>
                <th scope="col">
                  Matchup
                  <div></div>
                </th>
                <th scope="col">
                  Money Line
                  <div>
                    <span>Implied Prob</span>
                    <span>Odds</span>
                    <span>TQE Prob</span>
                  </div>
                </th>
                <th scope="col">
                  Spread Line
                  <div>
                    <span>Spread</span>
                    <span>Odds</span>
                    <span>TQE Prob</span>
                  </div>
                </th>
                <th scope="col">
                  Total Line
                  <div>
                    <span>Over/Under</span>
                    <span>Odds</span>
                    <span>TQE Prob</span>
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let game of games_by_day[gameDay]">
                <tr class="away-team-info">
                  <td rowspan="2" class="align-middle">
                    <p class="mb-2 started" *ngIf="game.started">
                      Started
                    </p>
                    <p>
                      {{ game.local_start_date }}
                    </p>
                    <p class="mt-2">
                      {{ game.local_start_time}}
                    </p>
                  </td>
                  <td class="team-logo">
                    <span>
                      <span>
                        <span class="team-first-name">
                          {{ game.away_team_first_name }}
                        </span>
                        <span class="team-last-name">
                          {{ game.away_team_last_name }}
                        </span>
                      </span>
                      <p class="at-text">at</p>
                    </span>
                  </td>
                  <td class="moneyline" [class.TQEHCP]="isTQEHCP(game, 'away', 'Money Line')"
                    [class.TQEP]="isTQEP(game, 'away', 'Money Line')">
                    <div *ngIf="isAuthorized">
                      <span>
                        {{ game.away_improb*100 | number:'1.1-1' }}%
                      </span>
                      <span>
                        {{ game.away_money }}
                      </span>
                      <span *ngIf="game.ml_pick === 'away'">
                        {{ game.mpick_prob*100 | number:'1.1-1' }}%
                      </span>
                      <span *ngIf="game.ml_pick === 'home'">
                        {{ (1 - game.mpick_prob ) *100 | number:'1.1-1' }}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span class="hidden-text">NA</span>
                      <span>{{ game.away_money }}</span>
                      <span class="hidden-text">NA</span>
                    </div>
                  </td>
                  <td class="spreadline" [class.TQEHCP]="isTQEHCP(game, 'away', 'Spread Line')"
                    [class.TQEP]="isTQEP(game, 'away', 'Spread Line')">
                    <div *ngIf="isAuthorized">
                      <span>
                        {{ game.away_spread }}
                      </span>
                      <span>
                        {{ game.away_odds }}
                      </span>
                      <span *ngIf="game.sp_pick === 'away'">
                        {{ game.spick_prob*100 | number:'1.1-1'}}%
                      </span>
                      <span *ngIf="game.sp_pick === 'home'">
                        {{ (1 - game.spick_prob ) *100 | number:'1.1-1' }}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span>{{ game.away_spread }}</span>
                      <span>{{ game.away_odds }}</span>
                      <span class="hidden-text">NA</span>
                    </div>
                  </td>
                  <td class="totalline" [class.TQEHCP]="isTQEHCP(game, 'over', 'Total Line')"
                    [class.TQEP]="isTQEP(game, 'over', 'Total Line')">
                    <div *ngIf="isAuthorized">
                      <span>
                        O {{ game.OU_line }}
                      </span>
                      <span>
                        {{ game.over_odds }}
                      </span>
                      <span *ngIf="game.ou_pick === 'over'">
                        {{ game.tpick_prob*100 | number:'1.1-1'}}%
                      </span>
                      <span *ngIf="game.ou_pick === 'under'">
                        {{ (1 - game.tpick_prob ) *100 | number:'1.1-1' }}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span>O {{ game.OU_line }}</span>
                      <span>{{ game.over_odds }}</span>
                      <span class="hidden-text">NA</span>
                    </div>
                  </td>
                </tr>
                <tr class="home-team-info">
                  <td class="team-logo">
                    <span>
                      <span>
                        <span class="team-first-name">
                          {{ game.home_team_first_name }}
                        </span>
                        <span class="team-last-name">
                          {{ game.home_team_last_name }}
                        </span>
                      </span>
                    </span>
                  </td>
                  <td class="moneyline" [class.TQEHCP]="isTQEHCP(game, 'home', 'Money Line')"
                    [class.TQEP]="isTQEP(game, 'home', 'Money Line')">
                    <div *ngIf="isAuthorized">
                      <span>
                        {{ game.home_improb*100 | number:'1.1-1' }}%
                      </span>
                      <span>
                        {{ game.home_money }}
                      </span>
                      <span *ngIf="game.ml_pick === 'away'">
                        {{ (1 - game.mpick_prob ) *100 | number:'1.1-1' }}%
                      </span>
                      <span *ngIf="game.ml_pick === 'home'">
                        {{ game.mpick_prob*100 | number:'1.1-1' }}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span class="hidden-text">NA</span>
                      <span>{{ game.home_money }}</span>
                      <span class="hidden-text">NA</span>
                    </div>
                  </td>
                  <td class="spreadline" [class.TQEHCP]="isTQEHCP(game, 'home', 'Spread Line')"
                    [class.TQEP]="isTQEP(game, 'home', 'Spread Line')">
                    <div *ngIf="isAuthorized">
                      <span>
                        {{ game.home_spread }}
                      </span>
                      <span>
                        {{ game.home_odds }}
                      </span>
                      <span *ngIf="game.sp_pick === 'away'">
                        {{ (1 - game.spick_prob ) *100 | number:'1.1-1' }}%
                      </span>
                      <span *ngIf="game.sp_pick === 'home'">
                        {{ game.spick_prob*100 | number:'1.1-1'}}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span>{{ game.home_spread }}</span>
                      <span>{{ game.home_odds }}</span>
                      <span class="hidden-text">NA</span>
                    </div>
                  </td>
                  <td class="totalline" [class.TQEHCP]="isTQEHCP(game, 'under', 'Total Line')"
                    [class.TQEP]="isTQEP(game, 'under', 'Total Line')">
                    <div *ngIf="isAuthorized">
                      <span>
                        U {{ game.OU_line }}
                      </span>
                      <span>
                        {{ game.under_odds }}
                      </span>
                      <span *ngIf="game.ou_pick === 'over'">
                        {{ (1 - game.tpick_prob ) *100 | number:'1.1-1' }}%
                      </span>
                      <span *ngIf="game.ou_pick === 'under'">
                        {{ game.tpick_prob*100 | number:'1.1-1'}}%
                      </span>
                    </div>
                    <div *ngIf="!isAuthorized">
                      <span>U {{ game.OU_line }}</span>
                      <span>{{ game.under_odds }}</span>
                      <span class="hidden-text">NA</span>
                    </div>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div *ngIf="loading" class="pt-5">
      <div class="loadersmall"></div>
    </div>
    <div class="container-fluid" *ngIf="!loading && (games_by_day).length === 0">
      <div class="main-header">
        <div class="game-header">
          <div class="logo-section">
            <img class="game-logo" [src]="game_logo">
          </div>
          <div class="game-week">
            <span>No MLB Picks</span>
          </div>
        </div>
      </div>
      <p class="no-games-text">No upcoming games</p>
    </div>
  </div>
</div>