.best-bets {
  .card-header {
    .tqe-pick {
      display: inline-block;
      border: 1px solid #f8f8f8;
      background-color: #f8f8f8;
      padding: 5px;
      margin: 15px 0;
      margin-right: 5px;
      border-color: #159c16;
      background-color: #9be9ad;
      font-weight: bold;
    }
    // .tqe-high-pick {
    //   display: inline;
    //   border:1px solid #f8f8f8;
    //   background-color: #f8f8f8;
    //   padding:5.5px;
    //   margin:10px 0;
    //   border-color: #159c16;
    //   background-color: #35aa51;
    //   font-weight: bold;
    // }
  }

  .all-bets {
    .team {
      .name {
        vertical-align: middle;
      }

      .odds {
        width: 20%;
        text-align: center;
        padding: 10px;

        span {
          display: inline-block;
          border: 1px solid #f8f8f8;
          background-color: #f8f8f8;
          padding: 15px;
          width: 100%;
          font-size: 14px;
        }

        &.tqe-pick {
          span {
            border-color: #159c16;
            background-color: rgb(195, 230, 203);
            font-weight: bold;
          }
        }
        // &.tqe-high-pick {
        //   span {
        //     border-color: #159c16;
        //     background-color: #35aa51;
        //     font-weight: bold;
        //   }
        // }
      }
    }
  }

  &.best-bets {
    .table {
      th.sortable {
        cursor: pointer;
      }

      .team {
        &.home {
          td {
            padding-top: 0.25em;
          }
        }

        &.away {
          td {
            padding-bottom: 0.25em;
          }
        }
      }

      .digits {
        font-size: 14px;
        font-weight: 800;
        text-align: center;
      }

      .name {
        b {
          font-weight: 800;
          text-transform: uppercase
        }
      }

      .tqe-best-bet {
        border: 1px solid #159c16;
        background-color: #c3e6cb;
        font-weight: bold;
      }
    }
  }

  .table {
    .team {
      &.home {
        td {
          padding-top: 0.25em;
        }
      }

      &.away {
        td {
          padding-bottom: 0.25em;
        }
      }
    }

    .digits {
      font-size: 14px;
      font-weight: 800;
      text-align: center;
    }

    .name {
      b {
        font-weight: 800;
        text-transform: uppercase
      }
    }
  }

  .wrapper {
    overflow-x: auto;
  }

  .scroll {
    white-space: nowrap;
  }
}

