<div class="loading mainloading" *ngIf="loader">
  <img src="../../../../assets/images/loading.svg" class="img-fluid" alt="loading">
</div>
<strong *ngIf="serverErrors" class="unauth">{{serverErrors}}</strong>
<div class="update-profile-form" *ngIf="userData.length != 0">
  <div class="container">


    <div class="header mb-5">
      <span>
        <h2>Update | Your Profile</h2>
      </span>
      <span class="steps">
        <button class="btn btn-success" [routerLink]="['/profile']">Back to Profile</button>
      </span>
    </div>
    <form autocomplete="off" [formGroup]="updateProfileForm" (ngSubmit)="updateRrofile()">
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>First Name</b></label>
            <input type="text" placeholder="Enter First Name" name="name" formControlName="first_name">
          </div>
          <div class="form-group">
            <label><b>Last Name</b></label>
            <input type="text" placeholder="Enter Last Name" name="name" formControlName="last_name">
          </div>
          <div class="form-group password-section">
            <label><b>Update Password</b></label>
            <input [type]="showPassword ? 'text' : 'password'" placeholder="Password" formControlName="new_password" class="password-input">
            <span class="showMe" (click)="button_show_password()">
              <i class="fa" [ngClass]="showPassword ? 'fa-eye-slash' : 'fa-eye'"></i>
              &nbsp;<span [innerHTML]="showPassword ? 'Hide' : 'Show'"></span>
            </span>
          </div>          
        </div>
      </div>
      <p class="alert alert-danger serverErr" *ngIf="server_error_message"> {{ server_error_message }} </p>
      <div *ngIf="updateRes">
        <br>
        <p class="alert alert-success">{{ updateRes }}</p>
      </div>
      <div *ngIf="disable_register" class="loading"></div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <button class="btn btn-success actionButton" [disabled]="updateProfileForm.invalid || disable_register"
              *ngIf="!disable_button" type="submit">Update</button>
            <!--  -->
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
