<div *ngIf="isAuthorized" id="nba-best-bets" class="container-fluid best-bets">
  <div class="row">
    <div class="col-md-12">
      <div class="best-bets-header shadow-lg mt-3 mb-5">
        <div class="header-content">
          <span class="right">
            <button
              *ngFor="let s of sports"
              class="button"
              [class.selected]="sport === s"
              (click)="setSport(s)"
            >
              {{ s }}
            </button>
          </span>
        </div>
        <ng-container [ngSwitch]="sport">
          <app-if-nba *ngSwitchCase="'NBA'"></app-if-nba>
          <app-if-nfl *ngSwitchCase="'NFL'"></app-if-nfl>
          <app-if-mlb *ngSwitchCase="'MLB'"></app-if-mlb>
          <app-if-soccer *ngSwitchCase="'SOCCER'"></app-if-soccer>
          <app-if-ncaab *ngSwitchCase="'NCAAB'"></app-if-ncaab>
          <app-if-ncaaf *ngSwitchCase="'NCAAF'"></app-if-ncaaf>
          <app-if-nhl *ngSwitchCase="'NHL'"></app-if-nhl>
        </ng-container>
      </div>
    </div>
  </div>
</div>
