<div class="intForm" *ngIf="resetSuccess">
  <div class="container pb-5 pt-5">
    <div class="row">
      <div class="col text-center">
        <h1>Password Reset Successfully</h1>
        <span>Click the provided link to navigate to homepage </span><a routerLink="">Home</a>
      </div>
    </div>
  </div>
</div>
<div class="intForm" *ngIf="!resetSuccess">
  <div class="container pb-5 pt-5">
    <div class="row">
      <div class="col"> 
        
        <div class="rest-form">
          <h2>Reset password for {{ email }} </h2>
          <form [formGroup]="resetForm" (ngSubmit)="resetPassword()" class="pb-5 pt-5">
            <div class="row">
              <div class="col-12">
                <div class="form-group">
                  <label><b>Code</b></label>
                  <div class="form-control" >
                    <input class="form-control" type="text" placeholder="code" formControlName="code">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname"><b>New Password</b></label>
                  <div class="form-control" >
                    <input class="form-control" type="password" placeholder="Enter Your New Password" formControlName="new_password">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname"><b>Confirm New Password</b></label>
                  <div class="form-control" >
                    <input class="form-control" type="password" placeholder="Re-Enter Your New Password" formControlName="confirm_password">
                  </div>
                </div>
              </div>
            </div>
            
            
            

            <p class="error" *ngIf="localErrors">{{ localErrors }}</p>
            <p class="error" *ngIf="serverErrors"> {{ serverErrors }}</p>

            <p class="error" *ngIf="resetForm.controls['code'].touched && resetForm.controls['code'].hasError('required')">Code field is required</p>
            <p class="error" *ngIf="resetForm.controls['new_password'].touched && resetForm.controls['new_password'].hasError('required')">New Password field is required</p>
            <p class="error" *ngIf="resetForm.controls['new_password'].touched && resetForm.controls['new_password'].hasError('minlength')">New Password cannot be less than 6 in length</p>
            <p class="error" *ngIf="resetForm.controls['confirm_password'].touched && resetForm.controls['confirm_password'].hasError('required')">Confirm New Password field is required</p>
            <p class="error" *ngIf="resetForm.controls['confirm_password'].touched && resetForm.controls['confirm_password'].hasError('minlength')">Confirm New Password cannot be less than 6 in length</p>

            <button type="submit" class="actionButton" [disabled]="resetForm.invalid">Reset</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
