<div class="container-fluid" [class.mobile]="isMobile">
  <div class="links">
    <span><a routerLink="/how-it-works">How TQE Works</a></span>
    <span><a routerLink="/terms-and-condition">Terms Of Service</a></span>
    <span><a routerLink="/privacy-policy">Privacy Policy</a></span>
    <span><a routerLink="/faqs">FAQs</a></span>
  </div>
  <div class="company-info">
    <div class="logo-and-tag">
      <div>
        <img src="./../assets/images/tqe_logos/site_header_logo.svg" alt="Logo">
      </div>
      <div>
        <span>The leader in quantitative analytics to help you win</span>
      </div>
    </div>
    <div class="contact-us">
      <h6>Contact Us</h6>
      <span>10 Time Square, Suite 6170 New York, NY, 10018</span>
      <a href="mailto:info@thequantedge.com" class="mail">info@thequantedge.com</a>
    </div>
  </div>
</div>