.container-fluid {
  font-family: 'Chakra Petch', sans-serif;
  background-color: #111416;
  color: white;
  border-top: 1px solid #999999;
}

.footer {
  width: 75%;
  margin: 5em auto;
  text-align: left;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 2em;
  font-size: 1.25em;
}

.links span {
  padding: 1em;
  color: white;
}

.links span a {
  color: white;
  text-decoration: none;
  margin: 0 1.5em;
}

a:hover {
  cursor: pointer;
  color: #18CB16;
}

.links span + span::before {
  content: '|';
  margin-right: 1.5em;
  color: #999999;
}

.contact-us {
  align-items: left;
  font-size: 1.25em;
  margin-bottom: 2em;
}

.contact-us-header {
  font-family: 'Smooch Sans', sans-serif;
  margin-bottom: 1em;
  font-size: 2.25em;
}

.contact-us a {
  color: white;
  text-decoration: underline;
}

.copyright {
  text-align: left;
  padding: 2em 0 5em;
  color: grey;
}

.grey-line {
  border: none;
  height: 2px;
  background-color: grey;
}

.mobile {
  font-size: 14px;
}

.mobile .footer {
  width: 90%;
}

.mobile .links {
  flex-direction: row;
  justify-content: center;
}

.mobile .links span {
  font-size: 0.75em;
  padding: 0.5em;
}

.mobile .links span a {
  margin: 0 0.5em;
}

.mobile .links span + span::before {
  margin-right: 0.5em;
}
