.header {
    margin-top: 5em;
}

.header h2 {
    margin-left: 20%;
}

.how-it-works {
    font-size: 14px;
    line-height: 30px;
    font-weight: lighter;
    font-family: 'Chakra Petch', sans-serif;
    color: white;
    width: 60%;
    margin: 2em auto 0 auto;
}

p {
    text-align: justify;
}

h2,
h4,
h5,
h6,
th {
    font-weight: normal;
    line-height: 1.5em;
    margin-bottom: 0.75em;
}

h2,
h4,
h6 {
    color: #13A211;
}

h5,
th {
    color: #E8CA30;
}

h6 {
    margin-top: 0.75em;
}

.formula {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
}

.fraction {
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}

.fraction .top {
    display: block;
}

.fraction .bottom {
    display: block;
    border-top: 1px solid;
}

table {
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

td {
    color: white;
}

table.table-bordered,
table.table-bordered tbody {
    border: 1px solid rgb(61, 61, 61);
    border-collapse: collapse;
}

table.table-bordered tr,
table.table-bordered th,
table.table-bordered td {
    border: 1px solid rgb(61, 61, 61);
}

@media (max-width: 1024px) and (min-width: 768px) {
    .how-it-works {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .header h2 {
        margin-left: 5%;
    }

    .how-it-works {
        width: 95%;
        margin: auto;
    }

    .media {
        display: flex;
        flex-direction: column;
    }

    .media img {
        margin-bottom: 2em;
        width: 100%;
        max-width: 7em;
    }

    table {
        width: 100%;
    }

    .formula {
        font-size: 1em;
    }
}