<div class="body" [class.mobile]="isMobile">
    <div class="top-container container-fluid" [ngStyle]="{'background-image': 'url(' + bg_img + ')' }">
        <div class="info">
            <p class="header-text">QUANTIFY YOUR BET</p>
            <br /><br />
            <span class="info-text">
                <p>You adjust the player performance,</p>
                <p>we recalculate the odds.</p>
                <p>Try it for free today!</p>
                <br />                
                <a class="btn" type="button" [routerLink]="'/membership-plan'">Player Impact Tool</a>
                <a class="btn" type="button" [routerLink]="'/tool/best-bets/nfl'">Picks</a>
                <div *ngIf="isMobile" class="mt-1"><br/></div>
                <a class="btn" type="button" [routerLink]="'/how-it-works'">HOW TQE Works</a>
            </span>
        </div>
        <div class="sample-website-img-section">
            <img [src]="sample_website_img_mobile" *ngIf="isMobile">
            <img [src]="sample_website_img" *ngIf="!isMobile">
        </div>
    </div>
    <div class="container-fluid what-we-offer">
        <p class="header">WHAT WE OFFER</p>
        <div class="info-cards-section">
            <div class="info-card card-1">
                <div>
                    <div class="img-section">
                        <img [src]="info_card_1_img">
                    </div>
                </div>
                <div class="card-text-section">
                    <p class="card-header">Insightful and Quantified Picks</p>
                    <p class="card-text">
                        Successful NFL record since picking
                        from beginning of legal US sports
                        betting in 2018
                    </p>
                </div>
            </div>
            <div class="info-card card-2">
                <div>
                    <div class="img-section">
                        <img [src]="info_card_2_img">
                    </div>
                </div>
                <div class="card-text-section">
                    <p class="card-header">Insightful and Quantified Picks</p>
                    <p class="card-text">
                        Value your player defined
                        performance in the odds and compare
                        them to the odds published by the
                        books
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="carousel-container container-fluid">
        <div class="carousel">
            <div class="carousel-track"
                [ngStyle]="{'transform': transformStyle, 'transition': transitionActive ? 'transform 0.5s ease' : 'none'}"
                (transitionend)="handleTransitionEnd()">
                <div class="carousel-slide" *ngFor="let item of sports_images">
                    <button type="button" [routerLink]="item.link">
                        <img class="bg" [src]="item.bg" alt="Background Image">
                        <img class="logo" [src]="item.logo" alt="Logo">
                    </button>
                </div>                
            </div>
        </div>
    </div>
</div>