#main-call-to-action {
  background:#18B219 url('../../../assets/images/splash-bg.jpg') center -200px no-repeat;
  background-size:80%;
  box-shadow:inset 0 0 64px rgba(0,0,0,0.35);
  padding:1.5em 0;
  overflow:hidden;
  .my-text{
    color:black;
    font-size:24px;


  }
  .splash-text {
    line-height: 220%;
    color:white;
    text-transform:uppercase;

    span {
      //display:inline-block;
      width:100%;
    }
    .l-1{
      font-size:24px;
      font-weight:normal;
      font-family: Montserrat,sans-serif;
      letter-spacing:3px;
      text-shadow:0 0 4px rgba(0,0,0,0.35);
      line-height:1.0em;
    }
    .l-6{
      font-size:48px;
      font-weight:normal;
      font-family: Montserrat,sans-serif;
      letter-spacing:3px;
      text-shadow:0 0 4px rgba(0,0,0,0.35);
      line-height:1.0em;
    }
    .l-2 {
      font-size:50px;
      font-family: Montserrat,sans-serif;
      text-shadow:0 0 16px rgba(0,0,0,0.5);
      font-weight:900;
      line-height:1.0em;
    }
    .l-3 {
      font-size:36px;
      font-weight:normal;
      font-family: Montserrat,sans-serif;
      letter-spacing:3px;
      text-shadow:0 0 4px rgba(0,0,0,0.35);
      line-height:1.0em;
    }
    .l-4 {
      font-size:36px;
      text-shadow:0 0 16px rgba(156, 156, 156, 0.5);
      font-family: Montserrat,sans-serif;
      font-weight:900;
      line-height:1.0em;
    }
    .l-5 {
      font-size:48px;
      text-shadow:0 0 16px rgba(0,0,0,0.5);
      font-family: Montserrat,sans-serif;
      font-weight:900;
      line-height:1.0em;
    }
    @media (min-width: 210px) and (max-width: 420px) {
      .l-1 {
        font-size: 15px;
        font-family: Montserrat,sans-serif;
      }
      .l-5 {
        font-size:25px;
        font-family: Montserrat,sans-serif;
      }
      .l-6 {
        font-size: 15px;
        font-family: Montserrat,sans-serif;
      }
    }
  }
  .box-l {
    position:relative;
    img {
      position: absolute;
      top: -110px;
      left: 30%;
    }
    @media (min-width: 210px) and (max-width: 420px) {
      // img {
      //   position: absolute;
      //   top: 248px;
      //   left: 30%;
      // }
      #phone-img {
        position: absolute;
        top: 248px;
        width: 320px;
        left: -110%;
      }
    }
  }
  .box-r{
    button {
      margin: 25px auto;
      display: block;
      float:unset;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
    }
    @media (min-width: 210px) and (max-width: 420px) {
      button {
        margin: 8px auto;
        margin-left: 60%;
        // display: block;
        // float:unset;
        // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
  .bTN-Ytqe {
    height: 51px;
    width: 208px;
    border-radius: 3px;
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
    float: left;
    text-align: center;
    padding: 13px 10px 10px 18px;
  }
  @media (min-width: 210px) and (max-width: 420px) {
    .bTN-Ytqe {
      height: 40px;
      width: 140px;
      padding: 10px 10px 10px 1px;
    }
  }

  .bTN-Ytqe {
    img {float: left;}
  }
  .bTN-Ytqe span {
    display: block;
    overflow: hidden;
    color: #383838;
    font-size: 10px;
    font-weight: 500;
    font-family: Montserrat,sans-serif;
    line-height: 11px;
    text-align: left;
    padding: 0 0 0 5px;
  }
  .bTN-Ytqe strong {
    display: block;
    font-size: 14px;
    font-family: Montserrat,sans-serif;
    line-height: 1;
  }
  @media (min-width: 210px) and (max-width: 420px) {
    .bTN-Ytqe strong {
      font-size: 9px;
      font-family: Montserrat,sans-serif;
    }
  }
}

#choose-your-adventure {
  background:#343a40;
  .col-6 {
    padding:3rem 0;
    border-right:1px solid lighten(#343a40, 10%);
    h2 {
      text-transform:uppercase;
      text-align:center;
      font-size:24px;
      font-weight:normal;
      font-family: Montserrat,sans-serif;
      letter-spacing:3px;
      color:white;
      text-shadow:0 0 4px rgba(0,0,0,0.35);
      opacity: 0.5;
    }
    @media (min-width: 210px) and (max-width: 420px) {
      h2 {
        font-size:15px;
        font-family: Montserrat,sans-serif;
      }
    }
    h4 {
      text-transform:uppercase;
      text-align:center;
      font-size:60px;
      font-family: Montserrat,sans-serif;
      background: -webkit-linear-gradient(#86d567,#18B219);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      color:white;
      opacity: 0.5;
    }
    @media (min-width: 210px) and (max-width: 420px) {
      h4 {
        font-size:24px;
        font-family: Montserrat,sans-serif;
      }
    }
    &.current {
      background-color: white;
      h2 {
        color:#343a40;
        opacity: 1.0;
      }
      h4 {
        opacity: 1.0;
      }
    }
  }
  span {
    //display:inline-block;
    width:100%;
  }
  .l-6 {
    color: rgba(89, 119, 57,1);
    position:relative;
    font-size:48px;
    font-family: Montserrat,sans-serif;
    font-weight:normal;
    letter-spacing:3px;
    line-height:1.0em;
    text-transform:uppercase;
    float: right;
    padding-left: 15px;
  }

}
@media (min-width: 210px) and (max-width: 420px) {
  .success-text {
    flex: 0 0 50%;
    max-width: 100%;
    margin-left: 15%;
  }
}

// OLD Styles

.banner {
  background: #000 url('../../../assets/images/NBA2.jpg') bottom center no-repeat;
  position: relative;
  padding: 0;
}
.banner .row {
  height: 400px;
}
@media (min-width: 210px) and (max-width: 420px) {
  .all-buttons {
    flex: 0 0 25%;
    max-width: -1%;
    margin-left: 25%;
  }
}
.intro-text {
  overflow: hidden;
  padding: 0;
  position: relative;
  z-index: 9;
}
.intro-text h1 > span{
  color: #75889B;
  font-size: 18.11px;
  font-weight: 600;
  font-family: Montserrat,sans-serif;
  letter-spacing: 5.9px;
  line-height: 23px;
  display: block;
  background: -webkit-linear-gradient(#8da2b7,#75889B);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text h1 span.mid {
  color: #18B219;
  font-size: 38px;
  font-weight: 800;
  letter-spacing: -1.5px;
  line-height: 37px;
  background: -webkit-linear-gradient(#86d567,#18B219);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.intro-text h1 strong {
  display: block;
  color: #fff;
  font-size: 89.25px;
  font-weight: 900;
  line-height: 74px;
  letter-spacing: -4.7px;
}
.intro-text h1 strong span { color: #64CD36}
.banner .whyTQE {
  padding: 27px 0 120px;
  overflow: hidden;
  position: relative;
  z-index: 9;
}
.banner .bTN-Ytqe {
  height: 51px;
  width: 208px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  float: left;
  text-align: center;
  padding: 13px 10px 10px 18px;
}
.banner .bTN-Ytqe img {float: left;}
.bTN-Ytqe span {
  display: block;
  overflow: hidden;
  color: #383838;
  font-size: 10px;
  font-weight: 500;
  line-height: 11px;
  text-align: left;
  padding: 0 0 0 5px;
}
.bTN-Ytqe strong {
  display: block;
  font-size: 14px;
  font-family: Montserrat,sans-serif;
  line-height: 1;
}
.bTN-.bTN_banner {
  width: 310px;
  float: left;
  margin-left: 18px;
  height: 50px;
  line-height: 50px;
  font-size: 18.4px;
  font-family: 'proxima_nova_altsemibold';
  border-radius: 4px;
  font-weight: normal;
}
#tool-to-win {
  padding: 44px 0 53px;
  color: #565656;
  font-size: 15px;
  line-height: 20px;
  background: linear-gradient(180deg, #FFFFFF 0%, #E5EFF9 100%);
  /* box-shadow: inset 0 -1px 0 2px #FFFFFF, 0 5px 6px 0 #E5EBF1; */
}
#tool-to-win .loading {
  height: 200px;
}
#tool-to-win .heading {
  color: #000000;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}
#tool-to-win .heading > span {
  display: block;
  color: #75889B;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2.4px;
  line-height: 23px;
}
#tool-to-win h2.section-heading {
  margin: 0;
  color: #18B219;
  font-size: 50px;
  font-weight: 900;
  line-height: 46px;
}
#tool-to-win h2.section-heading strong {
  color: #0B0B0B;
  font-family: 'ProximaNovaA-Extrabld';
  font-size: 36px;
  font-weight: 800;
  line-height: 26px;
  display: block;
  padding: 6px 0 21px;
}
#tool-to-win h2.section-heading strong span { color: #18B219;}
#tool-to-win p {    margin: 0 0 40px;}
#tool-to-win a.bTN_view {
  margin-top: 31px;
}
div /deep/ .bTN_view {
  display: block;
  margin: 0 auto;
  color: #FFF;
  font-family: 'ProximaNovaA-Extrabld';
  font-size: 18px;
  line-height: 50px;
  text-align: center;
  height: 50px;
  max-width: 310px;
  border-radius: 4px;
  background: linear-gradient(180deg, #2A3540 0%, #000000 100%);
}
@media (min-width: 210px) and (max-width: 420px) {
  div /deep/ .bTN_view {
    font-size: 14px;
    line-height: 15px;
    height: 40px;
  }
}
div /deep/ .bTN_view:hover {
  background: #494646;
  color: #ECECEC;
  text-decoration: none;
}
.tool-img-holder {
  position: relative;
  text-align: center;
  margin: 0 5px 15px;
  height: 94px;
  border: 1px solid #B2BFCD;
  border-radius: 10px;
  background: linear-gradient(180deg, #FFFFFF 0%, #F5FAFE 100%);
  box-shadow: inset 0 -1px 0 2px #FFFFFF, 0 5px 6px 0 #E5EBF1;
}
.tool-img-holder img {
  opacity: 0;
  height: 100%;
  object-fit: cover;
  object-position: center;
  margin: 0 auto;
  display: block;
  width: 100%;
}
.tool-img-holder strong {
  padding: 0 10px;
  font-size: 15px;
  font-weight: 900;
  line-height: 19px;
  color: #343434;
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  z-index: 9;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
}
.tool-img-holder strong a {color: inherit}
.tool-img-holder strong span {
  display: block;
  padding: 10px 0 0;
  color: #18B219;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0.1px;
  line-height: 15px;
}
.win {
  text-align: center;
  padding: 79px 0 81px;
  min-height: 448px;
  background: white;
  position: relative;
  background-size: cover;
}
.win h2{
  margin: 0 0 42px;
  color: #2EB830;
  font-size: 50px;
  font-weight: 900;
  line-height: 52px;
}
.win h2 span{
  color: #2EB830;
  font-size: 36px;
  font-weight: 800;
  line-height: 29px;
  display: block;
}
.win .results{
  color: #333;
  font-size: 17.6px;
  font-weight: 500;
  line-height: 36px;
  padding: 0 0 34px;
}
.win .results li{
  display: inline-block;
  vertical-align: top;
  width: 38%;
  padding: 0;
}
.win .results strong{
  color: #333;
  font-size: 80.64px;
  font-weight: 900;
  line-height: 69px;
  display: block;
}
.win .results strong sub{
  color: #333;
  vertical-align: baseline;
  bottom: 0;
  font-size: 50%;
}
.win .lead {
  line-height: 1.5em;
  text-align: left;
}
.win .btn-picks {max-width: 370px;}

.TQE_Exlusive .gallery-holder .gmask .slide {
  height: 157.85px;
  width: 178.76px;
}
.feature_articles .gallery-holder .gmask .slide {
  height: 127.87px;
  width: 225px;
}
.feature_articles .gallery-holder a {
  top: 20px
}
#downloadable {
  padding: 50px 0 47px;
  position: relative;
  text-align: center;
}
#downloadable > * {
  position: relative;
  z-index: 9;
}
#downloadable::after {
  content: '';
  width: 100%;
  background: linear-gradient(180deg, #FFFFFF 0%, #E5EFF9 100%);
  /* box-shadow: inset 0 -1px 0 2px #FFFFFF, 0 5px 6px 0 #E5EBF1; */
  position: absolute;
  top: 0;
  left: 0;
  height: 377px;
}
#downloadable h2 {
  color: #18B219;
  font-size: 50px;
  font-weight: 800;
  line-height: 52px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 32px;
  font-family: 'ProximaNovaA-Extrabld';
}
#downloadable h2 span {
  display: block;
  color: #0B0B0B;
  font-size: 38px;
  line-height: 22px;
}
#downloadable .download {
  padding: 32px 0 0;
  position: relative;
  z-index: 9;
}
#downloadable .download a {
  display: inline-block;
  vertical-align: bottom;
  margin: 0 5px 5px;
  width: 200px;
}
#conversation {
  background-image: linear-gradient(180deg, #616d79 0%, #45505b 100%);
  padding: 118px 0 105px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 30px;
  position: relative;
}
#conversation::after {
  content: '';
  background: url('../../../assets/images/chat-bubble.png') no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 896px;
  height: 448px;
}
#conversation .container {
  position: relative;
  z-index: 9;
}
#conversation h2 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 0 14px;
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
}
#conversation p {
  margin: 0 40px 40px;
}
#conversation .bTN_view::after,
.expert-members .bTN_view::after {
  content: '';
  background: url('../../../assets/images/sprite.png') no-repeat -186px -113px;
  width: 42px;
  height: 26px;
  position: absolute;
  top: 14px;
  left: 19px;
}
#conversation .bTN_view {
  position: relative;
  padding-left: 42px;
  width: 286px;
  height: 57px;
  line-height: 57px;
}
#promo {
  min-height: 340px;
  background-image: linear-gradient(180deg, #000000 0%, #2a3540 100%);
  padding: 70px 0;
}
#promo .picks-desc > span {
  text-transform: uppercase;
  font-family: 'ProximaNovaA-Extrabld';
  color: #75889B;
  font-size: 18px;
  line-height: 13px;
  display: inline-block;
  vertical-align: top;
}
#promo .picks-desc h3 {
  text-transform: capitalize;
  margin: -11px 0 16px;
  color: #fff;
  font-size: 26px;
  font-weight: 900;
  line-height: 32px;
}
#promo .picks-desc h3 span {color: #1BB31A;}
#promo .picks-desc {
  padding: 0 0 0 13px;
  font-size: 26px;
  font-weight: 200;
  line-height: 28px;
}
#promo .picks-desc p {
  margin: 0 0 30px;
  color: #fff;
}
#promo .btn-picks {
  width: 100%;
  max-width: 90%;
}
.partners {
  padding: 78px 0 81px;
}
.partners h2 {
  color: #18B219;
  font-size: 50px;
  font-weight: 900;
  line-height: 52px;
  text-align: center;
  margin: 0 0 22px;
}
.partners h2 span {
  color: #0B0B0B;
  font-size: 36px;
  font-weight: 800;
  line-height: 29px;
  text-align: center;
  display: block;
}
.partners p {
  margin: 0 100px 12px;
  color: #343434;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
}
.partners .p-list {
  text-align: center;
  padding: 0 0 67px;
}
.partners .p-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 22px 20px -29px;
}
.partners .p-list li img {
  margin: 0 auto;
  display: block;
}

.expert-members {
  overflow: hidden;
  position: relative;
}
.expert-members h2 {
  color: #FFFFFF;
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  text-align: center;
  margin: 0 0 40px;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
}
.expert-members h2 span {
  display:block;
  color: #0B0B0B;
  font-size: 36px;
  font-weight: 800;
  line-height: 31px;
  text-align: center;
}
.expert-members .top-tweets {
  background: url('../../../assets/images/expert_avatars_tile-x@1x.png') repeat-x;
  padding: 80px 0 66px;
  height: 625px;
}
.expert-members .top-tweets .imgHolder {
  overflow: hidden;
  text-align: center;
}
.expert-members .imgHolder img.img-fluid {
  margin-bottom: 0;
}
.expert-members .imgHolder .avatar {
  text-transform: capitalize;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  height: 65px;
  width: 65px;
  display: inline-block;
  vertical-align: middle;
}
.expert-members .top-tweets .name {
  display: block;
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  white-space: nowrap;
}
.expert-members blockquote {
  padding: 50px 0;
  text-align: center;
  margin: 0;
}
.expert-members blockquote q {
  color: #343434;
  font-size: 20px;
  font-style: italic;
  line-height: 24px;
  text-align: center;
  display: block;
  padding: 20px 0;
}
.expert-members blockquote cite {
  color: #898989;
  font-size: 18px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
}
.expert-members .bTN_view {
  margin-top: 43px;
  position: relative;
  text-indent: 47px;
  z-index: 9;
}
.expert-members .bTN_view::after {
  top: 11px;
  left: 25px;
}

#audience {
  min-height: 455px;
  background-image: linear-gradient(180deg, #ffffff 0%, #e5eff9 100%);
  padding: 90px 0 60px;
  overflow: hidden;
  color: #343434;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
}
#audience h2 {
  color: #18B219;
  font-size: 50px;
  font-weight: 900;
  line-height: 52px;
  margin: 0 0 26px;
}
#audience h2 span {
  color: #0B0B0B;
  font-size: 36px;
  font-weight: 800;
  line-height: 31px;
  display: block;
  letter-spacing: -1px;
}
#audience p {
  letter-spacing: -0.77px;
  margin: 0 0 9px;
}
#audience .bTN_view {
  display: block;
  max-width: 100%;
  width: 100%;
  font-family: 'proxima_nova_altsemibold';
}
.featuredOn {
  background: linear-gradient(180deg, #616D79 0%, #45505B 100%);
  padding: 54px 0 64px;
}
.featuredOn img {
  display: block;
  margin: 0 auto;
}
.featuredOn h2 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 900;
  line-height: 36px;
  text-shadow: 0 1px 4px 0 rgba(0,0,0,0.5);
}
.Matches {
  padding: 84px 0 58px;
  background: linear-gradient(180deg, #000000 0%, #2A3540 100%);
}
.Matches h2 {
  color: #69D139;
  font-size: 50px;
  font-weight: 900;
  line-height: 36px;
  text-align: center;
  text-shadow: 0 1px 4px rgba(0,0,0,0.5);
  margin: 0 0 10px;
}
.Matches p {
  color: #FFFFFF;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  margin: 0 0 38px;
}
.Matches p strong {  font-weight: 800;	}
.Matches .games-list {
  text-align: center;
  padding: 0 0 15px;
}
.Matches .games-list li {
  width: 33.33%;
  display: inline-block;
  vertical-align: top;
  padding: 0 0 24px;
}
.Matches .games-list li img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
.Matches .btn-picks {
  font-family: 'proxima_nova_altsemibold';
  font-size: 16px;
  max-width: 380px;
}

/* owl-carousel /deep/ .owl-carousel .owl-item {} */
owl-carousel /deep/ .owl-carousel .thumbnail-image {  height: auto; }
owl-carousel /deep/ .owl-carousel .thumbnail-image .avatar {
  height: 225px;
  width: 225px;
  border: 4px solid #fff;
  border-radius: 160px;
  margin: 0 0 13px;
  overflow: hidden;
}
owl-carousel /deep/ .owl-carousel .thumbnail-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  -webkit-object-fit: cover;
  object-position: center;
  -webkit-object-position: center;
  object-position: 0 0;
  -webkit-object-position: 0 0;
}
owl-carousel /deep/ .owl-carousel.owl-theme .owl-nav [class*='owl-'].disabled {display: none}
owl-carousel /deep/ .owl-theme .owl-nav [class*='owl-'] {
  border: 1px solid #979797;
  font-weight: 300;
  background: #fff;
  text-align: center;
  color: #161924;;
  text-decoration: none;
  right: -5px;
  left: auto;
  top: 41px;
  background-color: #FFFFFF;
  z-index: 99;
  position: absolute;
  font-size: 44px;
  line-height: 112px;
  border-radius: 14px 0 0 14px;
  width: 37px;
  height: 134px;
  overflow: hidden;
}
owl-carousel /deep/ .owl-theme .owl-nav .owl-prev {
  text-indent: 3px;
  left: -5px;
  border-radius: 0 14px 14px 0;
}
owl-carousel /deep/ .owl-theme .owl-nav [class*='owl-'] span {
  background: #fff url('../../../assets/images/ico-left_chevron.png') no-repeat 11px center;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  text-indent: 9999px;
}
owl-carousel /deep/ .owl-theme .owl-nav .owl-next span {
  background: #fff url('../../../assets/images/ico-right_chevron.png') no-repeat 11px center;
  left: auto;
  right: 0;
}
.TQE_Exlusive .tool-img-holder strong {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.2px;
  line-height: 19px;
  text-align: center;
}
.Feature-Articles {
  background: linear-gradient(180deg, #0B880C 0%, #18B219 35.61%, #6AD239 100%);
  overflow: hidden;
  padding: 42px 0 48px;
}
.Feature-Articles h2 {
  color: #fff;
  font-size: 50px;
  font-weight: 900;
  line-height: 55px;
  text-align: center;
  text-shadow: 0 2px 0 rgba(0,0,0,0.5);
  text-transform: uppercase;
}
div.Feature-Articles /deep/ .bTN_view {
  text-transform: capitalize;
}
div /deep/ .loading {
  height: 700px;
}
/* Tabs */
ul.resp-tabs-list {
  padding: 27px 0 0;
  border: none;
}
.resp-tabs-list li {
  padding: 0;
}
.resp-tabs-list li a {
  color: #fff;
  font-size: 17px;
  line-height: 20px;
  position: relative;
  outline: none;
  text-shadow: 0 1px 1px #0a5c0b;
}
.resp-tabs-list li a:hover {
  text-decoration: none;
}
.resp-tabs-list li.active a { font-weight: 600; }
.resp-tabs-list li.active a::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3.13px;
  background-color: #76e641;
  margin-top: 5px;
  box-shadow: 0px 1px 3px #0a600b;
}
.resp-tabs-container {
  padding: 0;
  clear: left;
}
.resp-tabs-container > div { display: none;}
.resp-tabs-container > div.active { display: block;}
h2.resp-accordion {
  cursor: pointer;
  padding: 5px;
  display: none;
}
.resp-tabs-container /deep/ .sportsTag {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
}
.resp-tabs-container /deep/ .sportsTag li {
  float: left;
  padding: 5px;
  background-color: #000;
  color: #fff;
  margin-right: 5px;
}
.resp-tabs-container /deep/ .articles-listing-wrap {
  overflow: hidden;
  position: relative;
  min-height: 473px;
  margin-top: 37px;
}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item {
  width: 50%;
  display: inline-block;
  vertical-align: top;
  padding: 0 15px;
  border: none;
  word-wrap: break-word;
  margin-bottom: 40px;
  position: absolute;
  left: 0;
  top: 0;
}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(5) {display: none;}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(2) {
  left: 50%;
}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(3),
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(4) {
  width: 25%;
  left: 50%;
  top: 284px;
}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(4) {left: 75%;}
.resp-tabs-container /deep/ .articles-absolute-content {
  background-color: rgba(0, 0, 0, .9);
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 99;
  padding: 11px 15px 9px;
}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item .articles-wrap {
  position: relative;
  height: 438px;
  border: 1px solid #fff;
  cursor: pointer;
}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(2) .articles-wrap {
  height: 252px;
}
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(3) .articles-wrap,
.resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(4) .articles-wrap{
  height: 153px;
}
.resp-tabs-container /deep/ .articles-title {
  font-size: 15px;
  font-weight: 600;
  line-height: 1.3;
  color: #222222;
  letter-spacing: 0.075em;
  text-transform: uppercase;
  margin: 0 0 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.resp-tabs-container /deep/ .articles-title a {
  color: #fff;
  outline: none;
}
.resp-tabs-container /deep/ .articles-metas {
  color: rgba(255, 255, 255, 0.7);
  white-space: nowrap;
  font-size: 10px;
}
.resp-tabs-container /deep/ .articles-metas > div {
  display: inline-block;
  vertical-align: top;
}
.resp-tabs-container /deep/ .articles-metas > div * {padding-right: 5px;}
.resp-tabs-container /deep/ .articles-metas > div + ::before {
  content: '|';
  padding-right: 6px;
  padding-left: 6px;
}
.resp-tabs-container /deep/ .articles-wrap img {
  height: 100%;
  object-fit: cover;
  -webkit-object-fit: cover;
  object-position: center;
  -webkit-object-position: center;
  width: 100%;
}
div /deep/ .title .loading {
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
div /deep/ .title .loading::before {
  background-image: url('../../../assets/images/loading-sm.svg');
}
@media only screen and (max-width:1600px) {
  .banner .row {height: 348px;}
  .banner::after {
    width: 641px;
    height: 344px;
  }
}
@media only screen and (max-width:1200px) {
  .banner::after { content: '' }
  .bTN-.bTN_banner {width: 300px;}
  .banner .whyTQE { padding: 27px 0 50px;  }

}
@media only screen and (max-width:991px) {
  .intro-text,
  .banner .whyTQE {
    text-align: center;
  }
  .banner .whyTQE {
    padding: 27px 0 80px;
  }
  .banner .bTN-Ytqe,.bTN-.bTN_banner {
    float: none;
    display: inline-block;
    vertical-align: top;
  }
  .banner {overflow: hidden;}
  .banner::after {
    background: #000;
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    opacity: .5;
  }
  #tool-to-win h2.section-heading {
    font-size: 30px;
    font-weight: 900;
    line-height: 26px;
  }
  #tool-to-win h2.section-heading span {
    background: -webkit-linear-gradient(#86d567,#18B219);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  #tool-to-win h2.section-heading strong {
    font-size: 17px;
    line-height: 11px;
  }
  #tool-to-win .heading > span {display: none;}
  #tool-to-win .heading {
    font-size: 12px;
    line-height: 16px;
  }

  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item {
    width: 100%;
    position: static;
    padding: 0;
  }
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item .articles-wrap { height: 340px; }
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(2) .articles-wrap { height: 196px; }
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(3),
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(4) {
    width: 48%;
    left: 0;
    top: 0;
    float: left;
  }
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(4) { float: right; }

  owl-carousel /deep/ .owl-carousel .thumbnail-image .avatar {
    height: 170px;
    width: 170px;
  }
  .expert-members .top-tweets { padding: 50px 0; }
  owl-carousel /deep/ .owl-theme .owl-nav [class*="owl-"] {top: 12px}

  .win h2 { font-size: 30px; }
  .win h2 span { font-size: 100%; }
  .win .results {
    font-size: 14px;
    color: #16C415;
  }
  .win .results li {
    width: auto;
    display: block;
    padding: 0 0 20px;
  }
  .win .results strong {
    font-size: 36px;
    line-height: 30px;
    font-family: Montserrat,sans-serif;
  }
  .win .results strong sub { color: #62C239;}
  .win .btn-picks { font-size: 15px; }
}
@media only screen and (max-width:767px) {
  #downloadable h2 {
    font-size: 30px;
    line-height: 1.2;
  }
  #downloadable h2 span {
    display: block;
    color: #0B0B0B;
    font-size: 20px;
  }
  #downloadable .download a { width: 80px; }
  .banner { height: auto; }
  .banner .whyTQE {
    float: none;
    padding: 20px 0;
    text-align: center;
    overflow: hidden;
  }
  .banner a[class*="bTN-"] {
    display: inline-block;
    vertical-align: top;
    float: none;
    margin: 0 10px 10px;
  }
  .banner::after {
    left: 50%;
    width: 641px;
    margin-left: -220px;
  }
  .intro-text h1 strong {
    font-size: 53.45px;
    line-height: 65px;
    letter-spacing: 0.13px;
  }
  .intro-text h1 span.mid {
    font-size: 20.59px;
    letter-spacing: 1.52px;
    line-height: 25px;
  }
  .intro-text h1 > span {
    font-size: 14.58px;
    letter-spacing: 1.77px;
    line-height: 18px;
  }
  #tool-to-win h2.section-heading {
    font-size: 20px;
    text-align: center
  }
  .intro-text h1 {
    text-align: center
  }
  #conversation {
    font-size: 12px;
    line-height: 15px;
    padding: 40px 0;
  }
  #conversation h2 {
    font-size: 30px;
    line-height: 27px;
  }
  .partners p {
    margin: 0 0 12px;
    font-size: 18px;
  }
  .partners .p-list li {
    padding: 10px 5px;
    width: 90px;
  }
  #promo {
    padding: 40px 0;
    text-align: center;
  }
  #promo .picks-desc {padding: 30px 0;}
  #promo .picks-desc > * { display: none; }
  #promo .btn-picks { margin: 0 auto; }
  .expert-members .top-tweets .imgHolder {padding: 0 0 20px;}
  .Affiliates .audience h3 {font-size: 38px}
  .Affiliates .audience strong {font-size: 15px}
  #downloadable::after {
    background: linear-gradient(0deg, #FFF 0%, #E5EFF9 100%);
    height: 100%;
  }
  #conversation p { margin: 0 0 20px; }
  #conversation .bTN_view {
    width: 265px;
    height: 43px;
    line-height: 43px;
    font-size: 16px;
  }
  #conversation .bTN_view::after {top: 8px;}
  .partners {padding: 40px 0;  }
  .partners h2 {
    font-size: 30px;
    line-height: 32px;
  }
  .partners h2 span {
    font-size: 15px;
    line-height: 19px;
  }
  .partners .bTN_view {
    width: 186.2px;
    font-size: 16px;
  }
  .expert-members h2 {
    font-size: 27px;
    line-height: 35px;
  }
  .expert-members h2 span {
    font-size: 22px;
  }
  #audience {
    padding: 90px 0 60px;
    font-size: 14px;
    line-height: 20px;
  }
  #audience .picks-desc {  padding: 20px 0 0; }
  #audience h2 {
    font-size: 30px;
    line-height: 32px;
  }
  #audience h2 span {
    font-size: 24px;
    line-height: 28px;
  }
  #audience .bTN_view { font-size: 14px; }
  .featuredOn h2 {
    font-size: 13px;
    line-height: 13px;
  }
  .Matches h2 {  font-size: 30px; }
  .Matches p { font-size: 19px; }
  .Matches .games-list li {
    width: auto;
    display: block;
  }
  .Matches .btn-picks {font-size: 14px;}
  .expert-members .top-tweets .name {white-space: normal}
  .banner .bTN-Ytqe {margin: 0 0 20px;}
}
@media only screen and (max-width:500px) {
  owl-carousel /deep/ .owl-carousel {margin:0;}
  #promo .col-sm-4 {order: 1}
  #promo .col { order: 2; }
  .expert-members .imgHolder .avatar {
    width: 45px;
    height: 45px;
  }
  .bTN-.bTN_banner { font-size: 15.4px; }
  #tool-to-win h2.section-heading strong {  font-size: 14px; }
  .Feature-Articles h2 { font-size: 24px; }
  .resp-tabs-list li a {  font-size: 11px; }

  .intro-text h1 strong {  font-size: 40px; }
  .intro-text h1 > span {
    font-size: 12px;
    color: #fff;
    background: #fff;
        background-clip: border-box;
    -webkit-background-clip: text;
  }
  .intro-text h1 span.mid {
    font-size: 14px;
  }
}
@media only screen and (max-width:390px) {
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(3) .articles-metas > div,
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(4) .articles-metas > div {
    display: block;
  }
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(3) .articles-metas > div + ::before,
  .resp-tabs-container /deep/ .articles-listing-wrap .articles-item:nth-child(4) .articles-metas > div + ::before {
    content: '';
    padding-right: 0;
    padding-left: 0;
  }
  owl-carousel /deep/ .owl-carousel .thumbnail-image .avatar {margin: 0 auto 13px;}
}
@media only screen and (max-width:360px) {
  .bTN-.bTN_banner {
    margin: 10px 0 0;
  }
}
@media (min-width: 210px) and (max-width: 420px) {
  .introduction{
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    padding-bottom: 160%;
  }
}
