<body [class]="isMobile ? 'mobile' : ''">
  <div class="header">
    <h4>How to use Picks Tool?</h4>
  </div>
  <div class="how-it-works">
    <div class="video-container">
      <iframe 
          src="https://www.youtube.com/embed/kHjRQWlUkQ8?si=aJmxyJNKty7PXhvO" 
          title="YouTube video player" 
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
          referrerpolicy="strict-origin-when-cross-origin" 
          allowfullscreen>
      </iframe>
    </div>
    <div class="pdf-container">
      <iframe [src]="" frameborder="0" scrolling="yes" allowfullscreen></iframe>
    </div>
  </div>
</body>
