<div id="nba-best-bets" class="container best-bets">
  <div *ngIf="games_this_week.length != 0" class="row">
    <div class="col-md-12">
      <div class="card shadow-lg mt-3 mb-5">
        <div class="card-header">
          <h5><span>{{nflWeek}}</span>'s NFL Picks</h5>
          <span class="tqe-pick">TQE Picks in Green</span>
          <span class="tqe-high-pick">TQE High Confidence Picks</span>
        </div>
        <div class="wrapper">
          <table *ngIf="!loading" class="bets-table all-bets table table-borderless mb-0 scroll">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Time</th>
              <th scope="col" colspan="2">Matchup</th>
              <th scope="col" class="text-center">Implied Prob/Moneyline/TQE Prob</th>
              <th scope="col" class="text-center">Spread Line/Odds/TQE Prob</th>
              <th scope="col" class="text-center">Total Line/Odds/TQE Prob</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let game of games_this_week">
              <tr class="team away">
                <td rowspan="2" class="border-bottom align-middle"><span class="badge badge-danger"
                                                                         *ngIf="game.started">Started</span><br *ngIf="game.started"><b>{{ game.local_start_time }}</b>
                </td>
                <td style="max-width:48px"><img
                  src="../../../../assets/images/logos/nfl/pills/{{game.away_team_abbr}}.svg"
                  style="max-height:32px">
                </td>
                <td class="name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.away_team_first_name}} {{game.away_team_last_name}}</b><br>
                    at
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.away_team_first_name}}<br />
                    <b class="h6">{{game.away_team_last_name}}</b><br>
                    at
                  </div>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ml_pick === 'away' && game.mpick_prob>game.away_improb && game.mpick_prob*100 < 60.0"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'away' && game.mpick_prob>game.away_improb && game.mpick_prob*100 >= 60.0" -->
                <td class="odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'away' && game.mpick_prob>game.away_improb"
                >
                  <!--<span>{{ game.away_money }}</span>-->

                  <span *ngIf="!isAuthorized">{{ game.away_money }}</span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      {{ game.away_improb*100 | number:'1.1-1' }}% / {{ game.away_money }} / {{game.mpick_prob*100 | number:'1.1-1'}}%
                    </span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      <!--{{ game.away_money }}-->
                    {{ game.away_improb*100 | number:'1.1-1' }}% / {{ game.away_money }} / {{(1-game.mpick_prob)*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <td class="odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'away' && game.spick_prob*100 < 60.0"
                    [class.tqe-high-pick]="isAuthorized && game.sp_pick === 'away' && game.spick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.sp_pick === 'away'">{{ game.away_spread }} / {{ game.away_odds }}
                      / {{game.spick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">{{ game.away_spread }} / {{ game.away_odds }}</span>
                  <span *ngIf="isAuthorized && game.sp_pick === 'home'">{{ game.away_spread }} /
                    {{ game.away_odds }}</span>
                </td>

                <td class="odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'over' && game.tpick_prob*100 < 60.0"
                    [class.tqe-high-pick]="isAuthorized && game.ou_pick === 'over' && game.tpick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.ou_pick === 'over'">over {{ game.OU_line }} / {{ game.over_odds }}
                      / {{game.tpick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">over {{ game.OU_line }} / {{ game.over_odds }}</span>
                  <span *ngIf="isAuthorized && game.ou_pick === 'under'">over {{ game.OU_line }} / {{ game.over_odds }}</span>
                </td>
              </tr>

              <tr class="team home">
                <td class="border-bottom" style="max-width:48px"><img
                  src="../../../../assets/images/logos/nfl/pills/{{game.home_team_abbr}}.svg"
                  style="max-height:32px">
                </td>
                <td class="border-bottom name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.home_team_first_name}} {{game.home_team_last_name}}</b>
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.home_team_first_name}}<br />
                    <b class="h6">{{game.home_team_last_name}}</b>
                  </div>
                </td>
                <!-- [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'home' && game.mpick_prob>game.home_improb && game.mpick_prob*100 < 60"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'home' && game.mpick_prob>game.home_improb && game.mpick_prob*100 >= 60.0" -->
                <td class="border-bottom odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'home' && game.mpick_prob>game.home_improb"
                >

                  <!-- <span>{{ game.home_money }}</span>-->
                  <span *ngIf="!isAuthorized">{{ game.home_money }}</span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      {{ game.home_improb*100 | number:'1.1-1' }}% / {{ game.home_money }} / {{game.mpick_prob*100 | number:'1.1-1'}}%
                    </span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      <!--{{ game.home_money }}-->
                    {{ game.home_improb*100 | number:'1.1-1' }}% / {{ game.home_money }} / {{(1-game.mpick_prob)*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <td class="border-bottom odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'home' && game.spick_prob*100 < 60"
                    [class.tqe-high-pick]="isAuthorized && game.sp_pick === 'home' && game.spick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.sp_pick === 'home'">{{ game.home_spread }} / {{ game.home_odds }}
                      / {{game.spick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">{{ game.home_spread }} / {{ game.home_odds }}</span>
                  <span *ngIf="isAuthorized && game.sp_pick === 'away'">{{ game.home_spread }} / {{ game.home_odds }}</span>
                </td>
                <td class="border-bottom odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'under' && game.tpick_prob*100 < 60"
                    [class.tqe-high-pick]="isAuthorized && game.ou_pick === 'under' && game.tpick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.ou_pick === 'under'">under {{ game.OU_line }} / {{ game.under_odds }}
                      / {{game.tpick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">under {{ game.OU_line }} / {{ game.under_odds }}</span>
                  <span *ngIf="isAuthorized && game.ou_pick === 'over'">under {{ game.OU_line }} / {{ game.under_odds }}</span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="games.length != 0" class="row">
    <div class="col-md-12">
      <div class="card shadow-lg mt-3 mb-5">
        <div class="card-header">
          <h5>Next week's NFL Picks</h5>
          <span class="tqe-pick">TQE Picks in Green</span>
          <span class="tqe-high-pick">TQE High Confidence Picks</span>
        </div>
        <div class="wrapper">
          <table *ngIf="!loading" class="bets-table all-bets table table-borderless mb-0 scroll">
            <thead class="thead-dark">
            <tr>
              <th scope="col">Time</th>
              <th scope="col" colspan="2">Matchup</th>
              <th scope="col" class="text-center">Implied Prob/Moneyline/TQE Prob</th>
              <th scope="col" class="text-center">Spread Line/Odds/TQE Prob</th>
              <th scope="col" class="text-center">Total Line/Odds/TQE Prob</th>
            </tr>
            </thead>
            <tbody>
            <ng-container *ngFor="let game of games">
              <tr class="team away">
                <td rowspan="2" class="border-bottom align-middle"><span class="badge badge-danger"
                                                                         *ngIf="game.started">Started</span><br *ngIf="game.started"><b>{{ game.local_start_time }}</b>
                </td>
                <td style="max-width:48px"><img
                  src="../../../../assets/images/logos/nfl/pills/{{game.away_team_abbr}}.svg"
                  style="max-height:32px">
                </td>
                <td class="name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.away_team_first_name}} {{game.away_team_last_name}}</b><br>
                    at
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.away_team_first_name}}<br />
                    <b class="h6">{{game.away_team_last_name}}</b><br>
                    at
                  </div>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ml_pick === 'away' && game.mpick_prob>game.away_improb && game.mpick_prob*100 < 60"
                  [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'away' && game.mpick_prob>game.away_improb && game.mpick_prob*100 >= 60.0" -->
                <td class="odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'away' && game.mpick_prob>game.away_improb"
                >
                  <!--<span>{{ game.away_money }}</span>-->

                  <span *ngIf="!isAuthorized">{{ game.away_money }}</span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      {{ game.away_improb*100 | number:'1.1-1' }}% / {{ game.away_money }} / {{game.mpick_prob*100 | number:'1.1-1'}}%
                    </span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      <!--{{ game.away_money }}-->
                    {{ game.away_improb*100 | number:'1.1-1' }}% / {{ game.away_money }} / {{(1-game.mpick_prob)*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <td class="odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'away' && game.spick_prob*100 < 60.0"
                    [class.tqe-high-pick]="isAuthorized && game.sp_pick === 'away' && game.spick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.sp_pick === 'away'">{{ game.away_spread }} / {{ game.away_odds }}
                      / {{game.spick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">{{ game.away_spread }} / {{ game.away_odds }}</span>
                  <span *ngIf="isAuthorized && game.sp_pick === 'home'">{{ game.away_spread }} /
                    {{ game.away_odds }}</span>
                </td>
                <td class="odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'over' && game.tpick_prob*100 < 60.0"
                    [class.tqe-high-pick]="isAuthorized && game.ou_pick === 'over' && game.tpick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.ou_pick === 'over'">over {{ game.OU_line }} / {{ game.over_odds }}
                      / {{game.tpick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">over {{ game.OU_line }} / {{ game.over_odds }}</span>
                  <span *ngIf="isAuthorized && game.ou_pick === 'under'">over {{ game.OU_line }} / {{ game.over_odds }}</span>
                </td>
              </tr>
              <tr class="team home">
                <td class="border-bottom" style="max-width:48px"><img
                  src="../../../../assets/images/logos/nfl/pills/{{game.home_team_abbr}}.svg"
                  style="max-height:32px">
                </td>
                <td class="border-bottom name">
                  <div class="d-block d-sm-none">
                    <!-- Visible only on xs -->
                    <b class="h6">{{game.home_team_first_name}} {{game.home_team_last_name}}</b>
                  </div>
                  <div class="d-none d-sm-block">
                    <!-- Hidden only on xs -->
                    {{game.home_team_first_name}}<br />
                    <b class="h6">{{game.home_team_last_name}}</b>
                  </div>
                </td>
                <!-- [class.tqe-pick]="isAuthorized && game.ml_pick === 'home' && game.mpick_prob>game.home_improb < 60.0"
                [class.tqe-high-pick]="isAuthorized && game.ml_pick === 'home' && game.mpick_prob>game.home_improb && game.mpick_prob*100 >= 60.0"  -->
                <td class="border-bottom odds money"
                    [class.tqe-pick]="isAuthorized && game.ml_pick === 'home'"
                >
                  <!-- <span>{{ game.home_money }}</span>-->
                  <span *ngIf="!isAuthorized">{{ game.home_money }}</span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'home'">
                      {{ game.home_improb*100 | number:'1.1-1' }}% / {{ game.home_money }} / {{game.mpick_prob*100 | number:'1.1-1'}}%
                    </span>
                  <span *ngIf="isAuthorized && game.ml_pick === 'away'">
                      <!--{{ game.home_money }}-->
                    {{ game.home_improb*100 | number:'1.1-1' }}% / {{ game.home_money }} / {{(1-game.mpick_prob)*100 | number:'1.1-1'}}%
                    </span>
                </td>
                <td class="border-bottom odds spread"
                    [class.tqe-pick]="isAuthorized && game.sp_pick === 'home' && game.spick_prob*100 < 60.0"
                    [class.tqe-high-pick]="isAuthorized && game.sp_pick === 'home' && game.spick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.sp_pick === 'home'">{{ game.home_spread }} / {{ game.home_odds }}
                      / {{game.spick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">{{ game.home_spread }} / {{ game.home_odds }}</span>
                  <span *ngIf="isAuthorized && game.sp_pick === 'away'">{{ game.home_spread }} / {{ game.home_odds }}</span>
                </td>
                <td class="border-bottom odds total"
                    [class.tqe-pick]="isAuthorized && game.ou_pick === 'under' && game.tpick_prob*100 < 60.0"
                    [class.tqe-high-pick]="isAuthorized && game.ou_pick === 'under' && game.tpick_prob*100 >= 60.0"
                >
                    <span *ngIf="isAuthorized && game.ou_pick === 'under'">under {{ game.OU_line }} / {{ game.under_odds }}
                      / {{game.tpick_prob*100 | number:'1.1-1'}}%</span>
                  <span *ngIf="!isAuthorized">under {{ game.OU_line }} / {{ game.under_odds }}</span>
                  <span *ngIf="isAuthorized && game.ou_pick === 'over'">under {{ game.OU_line }} / {{ game.under_odds }}</span>
                </td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
