.canvas { 
    background-color : #1fb122;
    background-color : #5b5c5b;
    
    background-color : #38b9f5;
    
    background-color : #faee49;
}

.date-container .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }