<div class="page-title">
  <div class="container">
    <div class="row align-items-center">
      <div class="col">
        <h1>FAQ's</h1>
      </div>
    </div>
  </div>
</div>
<div class="container FAQs">
  <!-- <div class="accordion" id="accordionExample1">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              What does The Quant Edge do?
          </button>
        </h5>
      </div>
  
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <p>We create applications which take sports data, use the guidance of sports and data analysts, combine standard and advanced metrics, and apply machine learning techniques to give intelligent choices to fantasy sports players and bettors.</p>
            <p>We offer a site loaded with articles, podcasts, and chats which are focused on giving insight into playing fantasy sports and making bets.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              What does the Head-to-Head tool do?
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
        <div class="card-body">
            <p>This application gives straight forward visuals of how players compare to their matchups. Graphic views of spider charts, player and team heat maps (for example, where a QB’s throws are most or least successful on the field), the ability to compare metrics week to week, and see player tiers. All shown in an easy to use and understand manner, geared to give users an edge when making DFS contest decisions.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingThree">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              What does Injury Impact mean?
          </button>
        </h5>
      </div>
      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
        <div class="card-body">
            <p>Showing how a team adjusts when its player is on the field vs. off the field, the Injury Impact is a tool that shows true player value. You can see the impact of every player on every team on every snap!</p>
            <p>You can now adjust to injuries with information you can’t get anywhere else.</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingfour">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
              Will you have sports other than football?
          </button>
        </h5>
      </div>
      <div id="collapseFour" class="collapse" aria-labelledby="headingfour" data-parent="#accordionExample">
        <div class="card-body">
            <p>Yes, we already have MLB and NBA, now working on NHL, PGA, MMA all expected in the coming months</p>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingfive">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Can I ask questions to the experts?
          </button>
        </h5>
      </div>
      <div id="collapseFive" class="collapse" aria-labelledby="headingfive" data-parent="#accordionExample">
        <div class="card-body">
            <p>Subscribers can chat with each other and our sports analysts, content writers and podcasters</p>
        </div>
      </div>
    </div>
  </div> -->
  <div class="row">
    <div class="col">
        <h3>What is TQE?</h3>
        <p>The Quant Edge (TQE) is a one-of-a-kind provider of online sports betting models and DFS projections. Our betting models, line-up optimizers, and sports wagering insights are developed by cutting edge machine learning techniques. We are the brainchild of predictive analytics expert Todd Gross, who brings his winning ways to sports data after a successful career in commodities trading and hedge fund management. Everyone at TQE is fanatical about sports and the statistics that track each team and athlete’s performance. We’re an online hub of information for sports bettors and fantasy sports players, driven by world-class mathematics and proprietary algorithms not available anywhere else.          </p>
        <p>
            The Quant Edge launched in 2018 as an informative destination for online sports wagering and daily fantasy sports information by way of its revolutionary new tools for DFS players and bettors. Starting with NFL analysis and predictions, we’ve added NBA, NCAA Basketball, MMA, and MLB daily fantasy and betting tools. New additions for 2019 include NCAA Football, and NHL daily fantasy analytics and betting tools, and original content. All of this is made possible by a team of data scientists, statisticians, and sports analysts who use real-time football, basketball, baseball, and UFC data with cutting-edge metrics, and machine learning techniques to deliver intelligent betting insight. Compared to others, our on-screen displays are easier to understand and use for our members who want to play fantasy sports and place bets. (copied from TQE website)
        </p>
        <h3>How is TQE different from other betting or DFS websites?</h3>
        <p>TQE is a leader in the field of sports betting and daily fantasy sports and the competition cannot compete with what you will receive with a TQE subscription. TQE’s machine learning algorithms are at the top of the industry in terms of accuracy, and our optimizers and other DFS content give daily fantasy players an edge over the competition. We offer more than 30 proprietary tools, including NFL Picks and Player Impact, NFL injury tool, NBA Advanced DvP, that give you an edge over the competition and can only be found on our website. Our site offers users a clean, easy-to-use interface that lays out the odds and our picks clearly, and is accessible for all bettors and daily fantasy players regardless of experience level. While other sites might offer similar content to what we provide, no other platform can bring you as much accurate content, tools, and optimizers like TQE does. </p>
        <h3>How much does a TQE subscription cost and how do I sign up?</h3>
        <p>TQE has a variety of packages and plans to help give you all the betting and/or daily fantasy advice that you need to win big! All of our packages have seasonal and monthly packages for you to choose from. The different packages are outlined at this link <a [routerLink]="['/membership-plan']">Membership-Plan</a> where you can choose which package best suits your betting or DFS needs and sign up in minutes! 
          </p>
        <h3>What comes as part of a TQE subscription? </h3>
        <p>For all sports we have betting, daily fantasy, and all-inclusive packages. Our betting packages come with our picks for every game spread, over/under, and moneyline pick, in addition to our best bets and our player impact on lines tool. Our daily fantasy packages come with a variety of tools including optimizers, match-up and head-to-head comparisons, our premium member chat and all the content articles written by our experts that you need to win big in daily fantasy. Our all-inclusive packages combine both betting and DFS to give you the full package for less money! For more information on what comes with each subscription please visit this link: <a [routerLink]="['/membership-plan']">Membership-Plan</a>.</p>
        <h3>Can I try TQE for free?</h3>
        <p>Yes, if you make your own free TQE account you can get 3 free articles per month. You can also get a one week long betting trial for FREE and see how TQE helps bettors win big every week!          </p>
        <h3>How do you come up with your betting picks?</h3>
        <p>TQE uses a machine-learning based algorithm to generate all of our betting picks. Our team of top-notch data scientists uses proprietary data and cutting-edge technology to build the most accurate models in the industry. TQE models are not based on human intuition, but rather predictive analytics and advanced stats brought to you by our team of data scientists and experts. </p>
        <h3>How Has Your Betting Model Performed Historically?</h3>
        <p>Since our launch in 2018, we accurately predicted 59.7% of all NFL bets, and 66.7% of our NFL best bets. A $25 per game bettor made $1210 using our NFL tools in 2018. Since relaunching our MLB Best Bets Tool on June 28, we have accurately picked 68% of bets for a +13.15 unit return. For more information on how our betting model has performed please see this link: <a href="https://www.thequantedge.com/betting-results/">Betting-Results</a> </p>
        <h3>What is TQE’s cancellation policy?</h3>
        <p>We offer both monthly subscriptions and seasonal or annual packages. For our seasonal packages they are one-time purchases are cannot be cancelled or refunded. Our monthly subscriptions get charged every month and can be cancelled at any time. When cancelling a monthly subscription we do not offer a refund for the current month, but you will not be charged in future months after cancellation. </p>
        <h3>Is sports betting legal? If so, where can I place my bets?</h3>
        <p>Yes! The supreme court ruled in May of 2018 that the Professional and Amateur Sports Protection Act (PASPA), was unconstitutional, and that sports betting could become legal on a state-by-state basis. Since then, sports betting has become legal in eight states including New Jersey, Delaware, and Pennsylvania. Many other states, including New York, have legislation for legalization of sports betting in the process and many states are expected to legalize in the near future.</p>
        <p>When you decide to place bets, the easiest way to do that is through one of our affiliate sportsbooks. We have a host of sportsbook affiliates including DraftKings and FanDuel, and you can access a full list of our affiliates here: <a [routerLink]="['/sportsbook-promos']">Sportsbook-Promos</a>. It is easy to make an account with any of our affiliates and bet online or using their mobile apps. Use promo code TQE for discounts and get great deals when you sign up with one of our affiliates and start placing your first few bets. For those who prefer an old-school betting experience, you can also head to any registered sportsbook casino and place bets in-person. </p>
        <h3>Can TQE guarantee that I will win money using their betting and daily fantasy advice?</h3>
        <p>No, we cannot guarantee that you will win money betting or playing daily fantasy sports contests. What we can tell you is that our machine-learning based betting models have historically performed well (see above), and that our DFS content is the best in the game. We will note that in order to break even in betting given a typical -110 line, you must hit 52.38% of bets and our NFL tools are way above that mark. 
          </p>
        <h3>Does TQE create content outside of football?</h3>
        <p>Yes! While we started with football in the fall of 2018, we have expanded to bring users MLB, NBA, NCAA Basketball, and MMA content. We are planning to launch our NCAA football package in the fall of 2019, and we are currently working on packages and tools for NHL and Horse Racing. Is there a specific sport that you want to see on TQE’s website? Email us at <a href="mailto:info@thequantedge.com">info@thequantedge.com</a> to tell us about it! 
          </p>
        <h3>Where does TQE get its lines and spread data?</h3>
        <p>TQE partners with various sportsbooks to bring you the best lines in real time. Our affiliate sportsbooks include DraftKings, Fanduel, and Caesars to name a few, and we encourage all of our bettors to bet on multiple sportsbooks in order to get the most advantageous odds. A full list of our sportsbook affiliates can be found here: <a [routerLink]="['/sportsbook-promos']">Sportsbook-Promos</a>. We buy our sports data from verified data providers and make sure that our customers are always receiving the most accurate data in an organized and easy to understand format in real time. </p>
        <h3>Does TQE offer advice for live betting?</h3>
        <p>Currently we do not offer any analytics on live betting, but we are working on modeling for live betting, and will bring that content to users in the future.</p>
        <h3>Can I contact TQE with any lingering questions?</h3>
        <p>Yes. Please reach out to us via email at <a href="mailto:info@thequantedge.com">info@thequantedge.com</a> or you can contact us via Twitter, Instagram, or Facebook @thequantedge to find out more and get answers to any other questions you might still have. </p>
    </div>
  </div>


</div>