.aboutUs {
    overflow: hidden;
    padding: 50px 0;
    font-size: 15px;
    line-height: 1.5
}
.aboutUs h2 {
    font-size: 21px;
    margin: 0 0 10px;
    padding-right: 60px;
}
.aboutUs p {
    margin: 0 0 20px;
}
img {
    vertical-align: middle;
    border-style: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.points-spread {
    width: 90%;
}
@media(min-width: 200px) and (max-width: 650px) {
    .points-spread {
        width: 100%;
    }
    .formula {
        width: 85%;
        /* height: 0.7%; */
        /* height: 50%; */
    }
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 2px solid #0e0e0e;
    text-align: left;
    padding: 8px;
  }
