/*
   server-side-angular-way.component.css
*/
.no-data-available {
    text-align: center;
  }
  
  /*
     src/styles.css (i.e. your global style)
  */
/* .dataTables_empty {
   display: none;
} */

.loader {
   text-align: center; 
}
div /deep/ .dataTables_wrapper .col-sm-12 {
   width: 100%;
   overflow-x: auto;
}
@media only screen and (max-width:786px) {
   div /deep/ .txtLimit {
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       width: 70px;
       display: block;
    }
}